
<aside class="cookie-bar js-cookie-bar" data-enhancer="cookieBar" role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookie-bar-description" aria-hidden="true">
    <!--googleoff: all-->
    <p id="cookie-bar-description">This site makes use of third-party cookies for analytics. By continuing to use the site, you accept the use of cookies. <a href="https://www.theoceancleanup.com/privacy-and-cookie-notice/" target="_blank">Read more</a></p>
    <button class="button button--secondary button--small" data-handler="cookieBarAccept"  aria-label="Accept the use of cookies on this website">Accept</button>
    <!--googleon: all-->
</aside>
<!--TYPO3SEARCH_begin-->
<main class="wrapper">
  <header class="hero-image">
     <header class="hero-image">
  <figure>
    <img
     src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/About_header_ocean.jpg"
      srcset="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/About_header_ocean_640.jpg 640w,
      https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/About_header_ocean_1024.jpg 1024w
      https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/About_header_ocean_1440.jpg 1440w,
      https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/About_header_ocean_1920.jpg 1920w"
      data-enhancer="objectFit"/>
  </figure>

  <div class="hero-image__inner">
    <div class="hero-image__content-wrapper">
      <div class="hero-image__content">
        <h1 class="block-title block-title--left">We are The Ocean Cleanup</h1>
      </div>
    </div>
  </div>

  <button
    class="hero-image__play"
    data-video-type="youtube"
    data-video-id="PePvbhy-qGY"
    data-handler="lazyVideoEmbedPlay">
    <svg role="img" data-icon="play"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#play"></use></svg>

    <span>Play video</span>
  </button>
</header>
  </header>
  <section class="facts-block">
    <div class="facts-block__inner">
       <ul>
            <li>
                <h3>Founded <span>2013</span></h3>
                <p>Dutch inventor Boyan Slat founded The Ocean Cleanup at the age of 18 in his hometown of Delft, the Netherlands.</p>
            </li>
            <li>
                <h3>Staff <span>70+</span></h3>
                <p>The Ocean Cleanup's team consists of more than 70 engineers, researchers, scientists and computational modelers working daily to rid the world's oceans of plastic.</p>
                <p class="button-light-blue" style="text-align: center;"><a href="https://www.theoceancleanup.com/careers" target="_self" data-htmlarea-external="1">MEET THE TEAM</a></p>
            </li>

            <li>
                <h3>HQ <span>Rotterdam</span></h3>
                <p>Our headquarters are located in Rotterdam, the Netherlands. Our assembly yard for the first cleanup system is in Alameda, San Francisco Bay Area, California.</p>

            </li>
        </ul>
    </div>
  </section>
  <section class="center-block center-block--large center-block--white center-block--@@margin" id="@@id">
    <div class="center-block__inner">
      <h2 class="block-title">Big problems require big solutions</h2>
<p>The Ocean Cleanup is a non-profit organization, developing advanced technologies to rid the world&rsquo;s oceans of plastic.</p>
<p>By utilizing the ocean currents to our advantage, our passive drifting systems are estimated to clean up half the <a href="great-pacific-garbage-patch/" target="_top" class="internal-link">Great Pacific Garbage Patch</a> in 5 years&rsquo; time.</p>
    </div>
  </section>
  <section class="image-slider-block">
     <div class="image-slider-block__inner" data-enhancer="imageSlider">

        <img
            src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/slider-images/about-slider-1-1244x700-2_opt.jpg"
            srcset="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/slider-images/about-slider-1-1244x700-2_opt.jpg 1020w, fileadmin/media-archive/img/Pages/About/slider-images/about-slider-1-1244x700-2_opt.jpg 2560w"
        />
        <img
            src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/slider-images/about-slider-3-1244x700.jpg"
            srcset="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/slider-images/about-slider-3-711x400.jpg 1020w, fileadmin/media-archive/img/Pages/About/slider-images/about-slider-3-1244x700.jpg 2560w"
        />

         <img
            src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/slider-images/about-slider-4-1244x700.jpg"
            srcset="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/slider-images/about-slider-4-711x400.jpg 1020w, fileadmin/media-archive/img/Pages/About/slider-images/about-slider-4-1244x700.jpg 2560w"
        />

        <img
            src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/slider-images/about-slider-6-1244x700jpg_opt.jpg"
            srcset="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/slider-images/about-slider-6-1244x700jpg_opt.jpg 1020w, fileadmin/media-archive/img/Pages/About/slider-images/about-slider-6-1244x700jpg_opt.jpg 2560w"
        />
 <img
            src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/slider-images/about-slider-5-1244x700_opt.jpg"
            srcset="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/slider-images/about-slider-5-1244x700_opt.jpg 1020w, fileadmin/media-archive/img/Pages/About/slider-images/about-slider-5-1244x700_opt.jpg 2560w"
        />
        <img
    </div>
  </section>
  <section class="center-block center-block--@@size center-block--secondary center-block--glue" id="@@id">
    <div class="center-block__inner">
       <h2 class="block-title">We must defuse this ticking time bomb</h2>
    </div>
  </section>
  <section class="advantages-block">
    <div class="advantages-block__inner">
        <ul>
            <li>
                <svg role="img" data-icon="environment"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#environment"></use></svg>

                <h3>Environment</h3>
                <p>Plastic pollution in the world's oceans is one of the biggest environmental issues of our time, impacting more than 600 marine species.</p>
            </li>
            <li>
                <svg role="img" data-icon="economy"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#economy"></use></svg>

                <h3>Economy</h3>
                <p>According to the United Nations, plastic pollution is conservatively estimated to have a yearly financial damage of 13 billion USD. The costs stem from the plastic’s impact on marine life, tourism, fisheries and businesses.</p>
            </li>
            <li>
                <svg role="img" data-icon="health"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#health"></use></svg>

                <h3>Health</h3>
                <p>Plastic pollution does not only impact sea life, it also carries toxic pollutants into the food chain – a food chain including us humans.</p>
            </li>
        </ul>
    </div>
  </section>
  <section class="center-block center-block--large center-block--white center-block--@@margin" id="@@id">
    <div class="center-block__inner">
      <h2 class="block-title">A simple idea turned into a moonshot project</h2>
<a></a>
<p style="text-align:justify">The Ocean Cleanup is designing and developing the first feasible method to rid the world’s oceans of plastic. Every year, millions of tons of plastic enter the ocean. A significant percentage of this plastic drifts into large systems of circulating ocean currents, also known as gyres. Once trapped in a gyre, the plastic will break down into microplastics and become increasingly easier to mistake for food by sea life. <br/>
Going after it with vessels and nets would be costly, time-consuming, labor-intensive and lead to vast amounts of carbon emission and by-catch. That is why The Ocean Cleanup is developing a passive system, moving with the currents - just like the plastic - to catch it. The system consists of a 600-meter-long floater that sits at the surface of the water and a tapered 3-meter-deep skirt attached below. The floater provides buoyancy to the system and prevents plastic from flowing over it, while the skirt stops debris from escaping underneath. As the system moves through the water, the plastic continues to collect within the boundaries of the U-shaped system.
</p>

<h3 style="text-align:left">"For society to progress, we should not only move forward but also clean up after ourselves."</h3> <p style="text-align:right">- <strong>BOYAN SLAT, CEO &amp; FOUNDER </strong></p>

<p style="text-align:justify">By deploying a fleet of systems, The Ocean Cleanup has estimated to be able to remove 50% of the Great Pacific Garbage Patch in just 5 years’ time. The concentrated plastic will be brought back to shore for recycling and sold to B2C companies. The revenue gained will help fund the cleanup expansion to the other four ocean gyres.<br />
In preparation for full-scale deployment, The Ocean Cleanup organized several expeditions to map the plastic pollution problem in the Great Pacific Garbage Patch to an unprecedented degree of detail. The team simultaneously advanced its design through a series of scale model tests, including prototypes deployed in the North Sea 2016, 2017 and 2018. The first cleanup system is set to be deployed from California on September 8, being towed to the Great Pacific Garbage Patch to start its mission.</p>
    </div>
  </section>
  <section class="center-block center-block--large center-block--quaternary center-block--glue" id="@@id">
    <div class="center-block__inner">
       <h2 class="block-title">Awards &amp; Recognitions</h2>
    </div>
  </section>
  <section class="awards-block" data-enhancer="awardsBlock">
    <div class="awards-block__inner">

<ul>
  <li>
    <a class="js-open" href="{{ link }}" aria-expanded="false">
      <img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/awards/un.png"/>
    </a>
    <div class="awards-block__meta js-meta" aria-hidden="true">
      <span>2015</span>
      <h6>United Nations Champion of the Earth</h6>
      <div>
        <span>Awarded by</span>
        <p>The United Nations</p>
      </div>
      <a class="more-link more-link--primary" href="http://staging.unep.org/champions/news/champions-of-the-earth-2014-boyan-slat-announced.asp" target="_blank">
        <svg role="img" data-icon="link-arrow">
          <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#link-arrow"></use>
        </svg>
 Read more
      </a>
      <a class="awards-block__close js-close" href="about/#" aria-label="Close">&times;</a>
    </div>
  </li>

<li>
    <a class="js-open" href="{{ link }}" aria-expanded="false">
      <img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/awards/design-museum.png"/>
    </a>
    <div class="awards-block__meta js-meta" aria-hidden="true">
      <span>2015</span>
      <h6>Designs of the Year</h6>
      <div>
        <span>Awarded by</span>
        <p>The Design Museum</p>
      </div>
      <a class="more-link more-link--primary" href="https://designmuseum.org/exhibitions/current-exhibitions/designs-of-the-year#designs-of-the-year-2015-winners" target="_blank">
        <svg role="img" data-icon="link-arrow">
          <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#link-arrow"></use>
        </svg>
 Read more
      </a>
      <a class="awards-block__close js-close" href="about/#" aria-label="Close">&times;</a>
    </div>
  </li>

  <li>
    <a class="js-open" href="{{ link }}" aria-expanded="false">
      <img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/awards/index.png"/>
    </a>
    <div class="awards-block__meta js-meta" aria-hidden="true">
      <span>2015</span>
      <h6>Design to Improve Life</h6>
      <div>
        <span>Awarded by</span>
        <p>Index Design to Improve Life</p>
      </div>
      <a class="more-link more-link--primary" href="http://designtoimprovelife.dk/the-ocean-cleanup-array-index-award-2015-winner-community-category/" target="_blank">
        <svg role="img" data-icon="link-arrow">
          <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#link-arrow"></use>
        </svg>
 Read more
      </a>
      <a class="awards-block__close js-close" href="about/#" aria-label="Close">&times;</a>
    </div>
  </li>

  <li>
    <a class="js-open" href="{{ link }}" aria-expanded="false">
      <img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/awards/fast-company.png"/>
    </a>
    <div class="awards-block__meta js-meta" aria-hidden="true">
      <span>2015</span>
      <h6>Innovation by Design</h6>
      <div>
        <span>Awarded by</span>
        <p>Fast Company</p>
      </div>
      <a class="more-link more-link--primary" href="https://www.fastcodesign.com/3049911/the-2015-innovation-by-design-awards-winners-social-good" target="_blank">
        <svg role="img" data-icon="link-arrow">
          <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#link-arrow"></use>
        </svg>
 Read more
      </a>
      <a class="awards-block__close js-close" href="about/#" aria-label="Close">&times;</a>
    </div>
  </li>

  <li>
    <a class="js-open" href="{{ link }}" aria-expanded="false">
      <img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/logos/time.svg"/>
    </a>
    <div class="awards-block__meta js-meta" aria-hidden="true">
      <span>2015</span>
      <h6>The 25 Best Inventions of 2015</h6>
      <div>
        <span>Awarded by</span>
        <p>Time.com</p>
      </div>
      <a class="more-link more-link--primary" href="http://time.com/4115398/best-inventions-2015/" target="_blank">
        <svg role="img" data-icon="link-arrow">
          <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#link-arrow"></use>
        </svg>
 Read more
      </a>
      <a class="awards-block__close js-close" href="about/#" aria-label="Close">&times;</a>
    </div>
  </li>

<!--
  <li>
    <a class="js-open" href="{{ link }}" aria-expanded="false">
      <img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/awards/readers-digest.png"/> </a>

                <div class="awards-block__meta js-meta" aria-hidden="true"><span>2017</span><h6>European of the Year (Boyan Slat)</h6><div><span>Awarded by</span><p>Readers Digest</p></div><a class="more-link more-link--primary" href="http://www.readersdigest.ca/features/rdi/european-year-boyan-slatan-wants-clean-oceans/"><svg role="img" data-icon="link-arrow"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#link-arrow"></use></svg>
 Read more</a><a class="awards-block__close js-close" href="about/#" aria-label="Close">&times;</a></div></li>
   -->
    <!--
   <li><a class="js-open" href="{{ link }}" aria-expanded="false"><img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/awards/katerva.png"/></a><div class="awards-block__meta js-meta" aria-hidden="true"><span>2015</span><h6>Katerva Award – Nobel Prize for Sustainability</h6><div><span>Awarded by</span><p>Katerva</p></div><a class="more-link more-link--primary" href="http://www.katerva.net/index.php/news/78-the-ocean-cleanup-wins-grand-prize-of-sustainability-katerva-award-2015"><svg role="img" data-icon="link-arrow"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#link-arrow"></use></svg>
 Read more</a><a class="awards-block__close js-close" href="about/#" aria-label="Close">&times;</a></div></li>
     -->
    <!--
            <li><a class="js-open" href="{{ link }}" aria-expanded="false"><img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/awards/norshipping.png"/></a><div class="awards-block__meta js-meta" aria-hidden="true"><span>2017</span><h6>Young Entrepreneur Award</h6><div><span>Awarded by</span><p>Nor-Shipping/Young Ship</p></div><a class="more-link more-link--primary" href="http://www.youngship.com/youngship-international/news/young-entrepreneur-award-2017/"><svg role="img" data-icon="link-arrow"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#link-arrow"></use></svg>
 Read more</a><a class="awards-block__close js-close" href="about/#" aria-label="Close">&times;</a></div></li>
   -->
    <li>
      <a class="js-open" href="{{ link }}" aria-expanded="false">
        <img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/awards/entrepreneur.png"/>
      </a>
      <div class="awards-block__meta js-meta" aria-hidden="true">
        <span>2016</span>
        <h6>Entrepreneur's Brilliant 100</h6>
        <div>
          <span>Awarded by</span>
          <p>Entrepreneur Magazine</p>
        </div>
        <a class="more-link more-link--primary" href="https://www.entrepreneur.com/article/275915" target="_blank">
          <svg role="img" data-icon="link-arrow">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#link-arrow"></use>
          </svg>
 Read more
        </a>
        <a class="awards-block__close js-close" href="about/#" aria-label="Close">&times;</a>
      </div>
    </li>


<li>
    <a class="js-open" href="{{ link }}" aria-expanded="false">
      <img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/About/awards/theheyerdahlaward.png"/>
    </a>
    <div class="awards-block__meta js-meta" aria-hidden="true">
      <span>2017</span>
      <h6>The Heyerdahl Award</h6>
      <div>
        <span>Awarded by</span>
        <p>The Norwegian Shipowners' Association</p>
      </div>
      <a class="more-link more-link--primary" href="https://www.rederi.no/en/aktuelt/2017/winner-heyerdahl-award/" target="_blank">
        <svg role="img" data-icon="link-arrow">
          <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v20170508#link-arrow"></use>
        </svg>
 Read more
      </a>
      <a class="awards-block__close js-close" href="about/#" aria-label="Close">&times;</a>
    </div>
  </li>

  </ul>

    </div>
  </section>
  <section class="center-block center-block--large center-block--white center-block--glue" id="@@id">
    <div class="center-block__inner">
       <h2 class="block-title">Leadership</h2>


            <a></a>
            <p>To succeed in its mission, The Ocean Cleanup's management team relies on a rare combination of innovative talent and high-level industry experience. The organization also benefits from the invaluable support and guidance of its advisory boards.
</p>
    </div>
  </section>
   <section class="center-block center-block--@@size center-block--white-left center-block--glue" id="@@id">
    <div class="center-block__inner">

            <h2 class="block-title">Management Team</h2>



    </div>
</section>


<section class="board-member-block">
    <div class="board-member-block__inner">

        <dl data-handler="boardMemberList">

            <dt>
                <a class="js-board-member-item" href="about/#">
                    Boyan Slat
                    <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>CEO &amp; Founder</span>
            </dt>
            <dd aria-hidden="true"><p>Inventor since birth. Founded The Ocean Cleanup at age 18. Youngest ever recipient of the UN’s highest environmental accolade; Champion of the Earth in 2015. Awarded the maritime industry’s Young Entrepreneur Award in 2015 by HM King Harald of Norway. Chosen as European of the Year by Readers Digest in 2017. Member of the Thiel Fellowship.</p></dd>

            <dt>
                <a class="js-board-member-item" href="about/#">
                    Lonneke Holierhoek
                    <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>COO</span>
            </dt>
            <dd aria-hidden="true"><p>Over 20 years of experience in the maritime and offshore construction industry, from companies such as the Dutch dredging and offshore contractor Van Oord and its predecessors Ballast Ham Dredging and HAM/Hollandsche Beton Groep as well as Elixir Engineers. Master of Science in Technical Mathematics from Delft University of Technology (TU Delft) as of 1993 and became G.M.I.C.E.S in Quantity Surveying from Chartered Institution of Civil Engineering Surveyors.</p></dd>


            <dt>
                <a class="js-board-member-item" href="about/#">
                    Jos Huijbregts
                    <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>CFO</span>
            </dt>
            <dd aria-hidden="true"><p>Over 25 years of corporate finance and business management experience from companies such as Royal DSM, Randstad and KEMA. Master of Science in Econometry from Amsterdam University as of 1990, executive degree in Financial Controlling received from Amsterdam University in 1994 and completed the Advanced Management Program at Harvard Business School in 2009.</p></dd>



        </dl>
    </div>
</section>


 <section class="center-block center-block--@@size center-block--white-left center-block--glue" id="@@id">
    <div class="center-block__inner">

            <h2 class="block-title">Supervisory board</h2>



    </div>
</section>


<section class="board-member-block">
    <div class="board-member-block__inner">

        <dl data-handler="boardMemberList">
                            <dt>
                    <a class="js-board-member-item" href="about/#">
                        Feike Sijbesma
                        <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                    </a>
                    <span>Senior Advisor to Supervisory Board</span>
                </dt>
                <dd aria-hidden="true"><p>CEO of Royal DSM since 2007, non-executive Director Unilever, Member Supervisory board Dutch Central Bank (DNB). Climate Leader for the World Bank Group and Co-chair of the High Level Assembly of the Carbon Pricing Leadership Coalition (CPLC). Awarded Humanitarian of the Year (2010) and Leaders of Change (2011) by United Nations.</p></dd>
            <dt>
                <a class="js-board-member-item" href="about/#">
                    Chris van der Vorm
                    <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Communications</span>
            </dt>
            <dd aria-hidden="true"><p>Filmmaker and civil engineer. Former director at PharmAccess Foundation and Health Insurance Fund. Currently documentary film director.</p></dd>

            <dt>
                <a class="js-board-member-item" href="about/#">
                    Evert Greup
                    <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Funding and Finance</span>
            </dt>
            <dd aria-hidden="true"><p>Board member/advisor at several (social) enterprises and charitable organizations; among his prior positions, he was CEO of VvAA Groep, and CEO of Kempen &amp; Co merchant bank.</p></dd>

            <dt>
                <a class="js-board-member-item" href="about/#">
                    Frederik Gerner
                    <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Technology and R&amp;D</span>
            </dt>
            <dd aria-hidden="true"><p>Entrepreneur and offshore Engineer. Co-founder and shareholder of Ampelmann Operations BV, currently managing director Asia Pacific at Ampelmann.</p></dd>


                <dt>
                    <a class="js-board-member-item" href="about/#">
                        Rutger Arisz
                        <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                    </a>
                    <span>Organization and Business Development</span>
                </dt>
                <dd aria-hidden="true"><p>Experienced Business Developer in aviation industry. Master at Law. COO AFC Ajax N.V. Former Elite Rower - World Champion (1989) and Olympian (Barcelona 1992). Chairman Dutch Rowing Federation (November 2016).</p></dd>



        </dl>
    </div>
</section>

 <section class="center-block center-block--@@size center-block--white-left center-block--glue" id="@@id">
    <div class="center-block__inner">

            <h2 class="block-title">Scientific Advisory Board</h2>



    </div>
</section>


<section class="board-member-block">
    <div class="board-member-block__inner">

        <dl data-handler="boardMemberList">

          <dt>
                <a class="js-board-member-item" href="about/#">
                    Dr. Richard Spinrad
                    <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Marine Technology &amp; Oceanography, Marine Technology Society</span>
            </dt>
            <dd aria-hidden="true"><p> Internationally recognized scientist and executive with more than 30 years of experience. President-elect at Marine Technology Society (MTS) as of January 2017. Appointed Chief Scientist by President Barack Obama for National Oceanic and Atmospheric Administration (NOAA) between 2014 and 2016 and served as Vice President for Research for Oregon State University from 2010 to 2014. </p><p>Dr. Spinrad has received several honors and awards, such as the <em>Distinguished Civilian Service Award</em> by the US Navy in 2003, The Oceanology International <em>Lifetime Achievement Award</em> in 2014 and <em>Presidential Distinguished Rank Award</em> by President Barack Obama in 2009.</p><p>Dr. Spinrad graduated with his Bachelor of Arts in Earth and Planetary Sciences from The Johns Hopkins University in Baltimore, Maryland. He received his master’s and doctoral degrees in Oceanography from Oregon State University. Titled Chartered Marine Scientist (CMarSci) by Institute of Marine Engineering, Science and Technology (IMarEst), London, UK</p></dd>

            <dt>
                <a class="js-board-member-item" href="about/#">
                    Prof. Alex Oude Elferink
                    <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>International Law of the Sea, Utrecht University</span>
            </dt>
            <dd aria-hidden="true"><p>Professor in International Law of the Sea, and Director Netherlands Institute for the Law of the Sea (NILOS), School of Law, Utrecht University, The Netherlands.</p><p>Prof. Oude Elferink has been working with NILOS since 1997. His expertise is in the field of public international law, with a focus on the law of the sea. He is both involved in academic legal research and consultancy work.</p><p>Alex Oude Elferink is also a law of the sea professor at the University of Tromsø and works at the University's K.G. Jebsen Centre for the law of the sea. He also lectures at Utrecht University and the University of Tromsø.</p></dd>
            <dt>
                <a class="js-board-member-item" href="about/#">
                    Prof. Gerhard J. Herndl
                    <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Ecology and Biological Oceanography, University of Vienna</span>
            </dt>
            <dd aria-hidden="true"><p>Dean of the Faculty of Life Sciences, Chair of Aquatic Biology and Head of Division Bio-Oceanography at the Dept. Limnology and Oceanography (formerly: Dept. of Marine Biology) at the University of Vienna, Austria.</p><p>Dr. Herndl is also Adjunct Senior Scientist at the Royal Netherlands Institute for Sea Research (NIOZ), The Netherlands.</p><p>Dr. Herndl received his PhD from the University of Vienna, 1982, is Elected Member of the Austrian Academy of Science, and received an ERC Advanced Grant in the year 2011.</p></dd>


                <dt>
                    <a class="js-board-member-item" href="about/#">
                    Prof. Mirek Kaminski
                        <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                    </a>
                <span>Offshore Structures, Delft University of Technology</span>
                </dt>
            <dd aria-hidden="true"><p>Full-time professor in the field of ship and offshore structures, Delft University of Technology, The Netherlands.</p><p>Prof. Kaminski joined TU Delft from MARIN, and naval engineering company Nevesbu prior to that. He is chairman of the International Ship &amp; Offshore Structure Congress, where he also represents The Netherlands in the standing committee.</p><p>He received his master's degree in Mechanical Engineering from the Technical University of Szczecin (Poland) in 1980, and in 1992, he received his PhD in Shipbuilding from the Delft University of Technology.</p></dd>
            <dt>
              <a class="js-board-member-item" href="about/#">
                    Frederik Gerner
                    <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

                </a>
                <span>Chairman on behalf of The Ocean Cleanup</span>
            </dt>
            <dd aria-hidden="true"><p>Director Ampelmann Asia Pacific at Ampelmann Operations.</p><p>Frederik is one of the founders of Ampelmann Operations, providing safe offshore access for people and cargo. He joins the Scientific Advisory Board as a representative member of The Ocean Cleanup’s Supervisory Board, where he focuses on Technology and R&amp;D.</p></dd>


        </dl>
    </div>
</section>



  <section class="call-to-action-block">
    <div class="call-to-action-block__inner">
      <div class="call-to-action-block__part">
         <h2 class="block-title">Join the <br/>team</h2>
            <p>Contribute with your skills and build a clean future with us</p>
            <a class="button button--secondary" href="careers.html">Join the team</a>
      </div>
      <div class="call-to-action-block__part">
          <h2 class="block-title">Fund the cleanup</h2>
            <p>Help us bridge the gap between the first system and full-scale deployment.</p>
            <a class="button button--secondary" href="support">Donate</a>
      </div>
    </div>
  </section>
</main>
<!-- .wrapper -->
<!--TYPO3SEARCH_end-->
<!-- partials/footer: -->

<footer role="contentinfo">
  <aside class="follow-bar">
    <div class="follow-bar__inner">
      <div class="follow-bar__social">
        <div id="c65" class="csc-default"><h3>Follow us</h3>
        <ul>
          <li><a class="instagram_follow_link" href="https://www.instagram.com/theoceancleanup/" target="_blank">
            <svg role="img" data-icon="instagram">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#instagram"></use>
            </svg>
            <span>Follow us on Instagram</span> </a></li>
          <li><a class="facebook_follow_link" href="https://www.facebook.com/TheOceanCleanup/" target="_blank">
            <svg role="img" data-icon="facebook">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#facebook"></use>
            </svg>
            <span>Follow us on Facebook</span> </a></li>
          <li><a class="twitter_follow_link" href="https://twitter.com/theoceancleanup" target="_blank">
            <svg role="img" data-icon="twitter">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#twitter"></use>
            </svg>
            <span>Follow us on Twitter</span> </a></li>
          <li><a class="youtube_follow_link" href="https://www.youtube.com/TheOceanCleanup " target="_blank">
          <svg role="img" data-icon="youtube">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#youtube"></use></svg>

          <span>Follow us on YouTube</span>
        </a></li>
        <li><a class="linked_follow_link" href="https://www.linkedin.com/company/the-ocean-cleanup" target="_blank">
          <svg role="img" data-icon="linkedin">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#linkedin"></use></svg>

          <span>Connect with us on LinkedIn</span>
        </a></li>
        </ul></div>
      </div>
      <div class="follow-bar__newsletter">
        <h6>Newsletter</h6>
<form data-enhancer="newsletterForm" action="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/t3ext/mailchimp_process.php" method="post" validate>
  <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required aria-label="Your e-mail address"/>
  <button type="submit" aria-label="Subscribe to our newsletter">
    <svg role="img" data-icon="mail" title="Subscribe">
      <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#mail"></use>
    </svg>
    <span>Subscribe</span> </button>
  <div class="follow-bar__newsletter-status js-newsletter-status" aria-hidden="true"></div>
</form>


      </div>
    </div>
  </aside>
  <nav class="footer-nav" role="navigation">
    <div class="footer-nav__inner">
      <div class="footer-nav__part">
        <h6>The Ocean Cleanup</h6><ul><li><a href="technology/" target="_top" class="internal-link">Technology</a></li> <li><a href="system001/" target="_top" class="internal-link">System 001</a></li> <li><a href="milestones/" target="_top">Milestones</a></li> <li><a href="updates/" target="_top" class="internal-link">Updates</a></li> <li><a href="scientific-publications/" target="_top">Scientific publications</a></li> <li><a href="great-pacific-garbage-patch/" target="_top" class="internal-link">Great Pacific Garbage Patch</a></li> <li><a href="sources/" target="_top">Plastic Sources</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>About us</h6><ul><li><a href="careers/" target="_top" class="internal-link">Careers</a></li> <li><a href="about/" target="_top" class="internal-link">About</a></li> <li><a href="press/" target="_top" class="internal-link">Press</a></li> <li><a href="https://www.theoceancleanup.com/media-gallery/" target="_blank">Media gallery</a></li> <li><a href="partners/" target="_top" class="internal-link">Partners</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Help</h6><ul><li><a href="support/" target="_top" class="internal-link">Support</a></li> <li><a href="shop/" target="_top" class="internal-link">Shop</a></li> <li><a href="faq/" target="_top" class="internal-link">FAQ</a></li> <li><a href="contact/" target="_top" class="internal-link">Contact</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Legal</h6><ul><li><a href="privacy-and-cookie-notice/" target="_top" class="internal-link">Privacy &amp; cookie notice</a></li> <li><a href="support/donation-terms-and-conditions/" target="_top" class="internal-link">Donations terms &amp; conditions</a></li> <li><a href="disclaimer/" target="_top" class="internal-link">Disclaimer</a></li> <li><a href="foundation-details/" target="_top" class="internal-link">Foundation details</a></li> <li><a href="the-ocean-cleanup-north-pacific-foundation/" target="_top" class="internal-link">The Ocean Cleanup North Pacific Foundation</a></li></ul>
      </div>
    </div>
    <div class="footer-nav__copyright">&copy; 2018 The Ocean Cleanup. All rights reserved.
<br>This site is hosted by Greenhost.</div>
  </nav>
</footer>
<script>
	/**
	 * Prevent loading of iframes, lazyload them later
	 */
	var iframes = document.getElementsByTagName('iframe');
	for (var i = 0; i < iframes.length; i++) {
		var src = iframes[i].src;
		iframes[i].src = '';
		iframes[i].setAttribute('data-src', src);
	}
</script>

<script src="typo3temp/javascript_bd4d1f63e4.js?1481036357" type="text/javascript"></script>


</body>
</html>
