<aside class="cookie-bar js-cookie-bar" data-enhancer="cookieBar" role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookie-bar-description" aria-hidden="true">
    <!--googleoff: all-->
    <p id="cookie-bar-description">This site makes use of third-party cookies for analytics. By continuing to use the site, you accept the use of cookies. <a href="https://www.theoceancleanup.com/privacy-and-cookie-notice/" target="_blank">Read more</a></p>
    <button class="button button--secondary button--small" data-handler="cookieBarAccept"  aria-label="Accept the use of cookies on this website">Accept</button>
    <!--googleon: all-->
</aside>
<main class="wrapper">
  <!-- Image sizes used: 640x360, 1024x576, 1440x810, 1920x1080, 2560x1440 (16:9) -->

  <header class="hero-image">
    <figure> <img
      src="fileadmin/media-archive/img/Pages/Careers/header/careers_header_theoceancleanup-shadow.jpg"
      srcset="fileadmin/media-archive/img/Pages/Careers/header/careers_header_theoceancleanup_640-shadow.jpg 640w,
      fileadmin/media-archive/img/Pages/Careers/header/careers_header_theoceancleanup_1024-shadow.jpg 1024w
      fileadmin/media-archive/img/Pages/Careers/header/careers_header_theoceancleanup_1440-shadow.jpg 1440w,
      fileadmin/media-archive/img/Pages/Careers/header/careers_header_theoceancleanup_1920-shadow.jpg 1920w"
      data-enhancer="objectFit"/> </figure>

    <div class="hero-image__inner">
      <div class="hero-image__content-wrapper">
        <div class="hero-image__content">
          <h1 class="block-title block-title--left">
            Help build a clean future
          </h1>
        </div>
      </div>
    </div>
  </header>
  <section class="center-block center-block--@@size center-block--white center-block--@@margin" id="@@id">
    <div class="center-block__inner">
      <h2 class="block-title">
        We seek passion and excellence
      </h2>
      <p>To succeed in our mission, we need to complete one of the most ambitious engineering projects on the face of the planet. Designing mega-structures capable of lasting in the harshest of environments is not easy. Cleaning up 70 % of the world&rsquo;s surface is even harder, but it is a challenge we are motivated to overcome.<br /> <br />If you are a master problem solver and are willing to do whatever it takes to rid the world's oceans of plastic, we want you at The Ocean Cleanup.</p>
    </div>
  </section>
  <section class="center-block center-block--@@size center-block--secondary center-block--glue" id="job-openings">
    <div class="center-block__inner">
      <h2 class="block-title">
         Job openings
      </h2>
    </div>
  </section>
  <section class="link-block link-block--secondary link-block--right">
    <div class="link-block__inner">
       <ul>
               <li>
                <a href="https://www.theoceancleanup.com/careers/qesh-manager-plastics/">QESH Manager - Plastics</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
            <li>
                <a href="https://www.theoceancleanup.com/careers/marketing-intern/">Marketing Intern</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
   <li>
                <a href="https://www.theoceancleanup.com/careers/ocean-plastic-researcher-marine-biologist/">Ocean Plastic Researcher - Marine Biologist</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
            <li>
                <a href="https://www.theoceancleanup.com/careers/communications-intern/">Communications Intern</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
       <li>
                <a href="https://www.theoceancleanup.com/careers/recycling-operations-manager/">Recycling Operations Manager</a>
                <span>Rotterdam, The Netherlands</span>
            </li>

               <li>
                <a href="https://www.theoceancleanup.com/careers/project-resources-engineer/">Project Resources Engineer</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
               <li>
                <a href="https://www.theoceancleanup.com/careers/finance-assistant/">Finance Assistant</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
             <li>
                <a href="https://www.theoceancleanup.com/careers/ocean-plastic-research-technician/">Ocean Plastic Research Technician</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
               <li>
                <a href="https://www.theoceancleanup.com/careers/operations-officer/">Operations Officer</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
          <li>
                <a href="https://www.theoceancleanup.com/careers/software-and-control-engineer/">Software &amp; Control Engineer</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
   <li>
                <a href="https://www.theoceancleanup.com/careers/procurement-and-services-officer/">Procurement &amp; Services Officer</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
             <li>
                <a href="https://www.theoceancleanup.com/careers/head-of-manufacturing/">Head of Manufacturing</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
             <li>
                <a href="https://www.theoceancleanup.com/careers/business-director-extraction/">Business Director Extraction</a>
                <span>Rotterdam, The Netherlands</span>
            </li>
             <li>
                <a href="https://www.theoceancleanup.com/careers/open-applications/">Open Applications</a>
                <span>Rotterdam, The Netherlands</span>
            </li>


    </ul>


    </div>
  </section>
  <section class="center-block center-block--@@size center-block--primary center-block--glue">
    <div class="center-block__inner">
      <h2 class="block-title"> Join the team </h2>
      <div id="c905" class="csc-default"> <p>Do you think you can contribute to our mission but there is no suitable vacancy on our website at this moment? Please send your resume to <a href="mailto:hr@theoceancleanup.com">hr@theoceancleanup.com</a>.</p><br><br></div>
    </div>
  </section>

  <section class="career-reasons-block">
    <div class="career-reasons-block__inner">
      <div class="career-reasons-block__column">
         <h4 class="block-title block-title--bottom">Need a few good reasons to join the team?</h4>
        <ul>
          <li>See your work getting implemented months after designing.</li>
          <li>Work on cutting-edge ocean engineering, ocean modelling and plastic pollution research.</li>
          <li>Be part of a driven group of experts, who see the "impossible" as temporary.</li>
          <li>Play a key role in launching the largest cleanup in history.</li>

        </ul>
      </div>
      <div class="career-reasons-block__column">
         <h4 class="block-title block-title--bottom">We bring the Silicon Valley culture to the Netherlands.</h4>
        <ul>
          <li>We move fast and iterate continuously; we build, test, learn, improve and repeat.</li>
          <li>We value self-responsibility. We don’t register hours or number of holidays.</li>
          <li>We have a flat organizational structure, giving you plenty of room to grow and take on more responsibility.</li>
          <li>And, yes, we have a ping pong table. And we eat lunch together.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="image-slider-block">
     <div class="image-slider-block__inner" data-enhancer="imageSlider">

        <img
            src="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-1.jpg"
            srcset="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-711x400-1.jpg 1020w, fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-1.jpg 2560w"
        />

          <img
            src="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-2.jpg"
            srcset="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-711x400-2.jpg 1020w, fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-2.jpg 2560w"
        />

          <img
            src="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-3.jpg"
            srcset="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-711x400-3.jpg 1020w, fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-3.jpg 2560w"
        />

          <img
            src="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-4.jpg"
            srcset="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-711x400-4.jpg 1020w, fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-4.jpg 2560w"
        />

          <img
            src="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-9.jpg"
            srcset="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-711x400-9.jpg 1020w, fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-9.jpg 2560w"
        />

          <img
            src="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-0.jpg"
            srcset="fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-711x400-0.jpg 1020w, fileadmin/media-archive/img/Pages/Careers/careers-slider/career-slider-1244x700-0.jpg 2560w"
        />


    </div>
  </section>

  <section class="center-block center-block--@@size center-block--white center-block--glue" id="team">
    <div class="center-block__inner">
      <h2 class="block-title">
        Team
      </h2>
    </div>
  </section>
  <!--



    Image sizes used: 260x260



-->
  <section class="team-members-block" id="team">
    <div class="team-members-block__inner">
      <ul data-handler="bioTooltip" data-enhancer="bioTooltip">
  <li> <a href="careers/#" aria-label="View biography of Boyan Slat"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/boyan.jpg"/>
    <h6>Boyan Slat</h6>
    <span>CEO and Founder</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Boyan Slat</h6>
      <span>CEO and Founder</span>
      <hr/>
      <p>Inventor since birth</p>
      <p>Founded The Ocean Cleanup at age 18</p>
      <p>Youngest-ever recipient of UN’s highest environment award</p>
      <hr/>
      <p><a href="http://boyanslat.com/" target="_blank">Full bio</a>, <a href="https://twitter.com/BoyanSlat" target="_blank">Twitter</a>, <a href="https://www.facebook.com/boyanslat" target="_blank">Facebook</a></p>
    </div>
  </li>

  <li> <a href="careers/#" aria-label="View biography of Lonneke Holierhoek"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/lonneke.jpg"/>
    <h6>Lonneke Holierhoek</h6>
    <span>COO</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Lonneke Holierhoek, MSc</h6>
      <span>COO</span>
      <hr/>
      <p>Using 20 years of experience in maritime and offshore projects towards achieving successful cleanup operations</p>
      <p>Master of Science in Technical Mathematics (TU Delft, 1995), Quantity Surveyor (I.C.E.S., UK, 2003)</p>
      <p>An enthused amateur lapidist</p>
      <hr/>
    </div>
  </li>

  <li> <a href="careers/#" aria-label="View biography of Jos Huijbregts"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/jos_h.jpg"/>
    <h6>Jos Huijbregts</h6>
    <span>CFO</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Jos Huijbregts, MSc</h6>
      <span>CFO</span>
      <hr/>
      <p>Bringing 25 years of corporate finance and business management experience to The Ocean Cleanup</p>
      <p>Master’s in Econometry (Amsterdam University, 1990), executive degree in Financial Controlling (Amsterdam University, 1994), Management Program (Harvard, 2009)</p>
      <p>As an avid sailor, I'm fully motivated to help to rid the oceans of plastic</p>
      <hr/>
    </div>
  </li>

   <li> <a href="careers/#" aria-label="View biography of Joost Dubois"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/joostdubois.jpg"/>
    <h6>Joost Dubois</h6>
    <span>Communications and External Affairs</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Joost Dubois, MSc</h6>
      <span>Communications and External Affairs</span>
      <hr/>
      <p>Chief Storyteller</p>
      <p>25+ years veteran of corporate affairs, marketing and communications</p>
      <p>Passionately curious with a nose for news</p>
      <hr/>
    </div>
  </li>

  <!--
   <li> <a href="careers/#" aria-label="View biography of Amy George"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/amy_g.jpg"/>
    <h6>Amy George</h6>
    <span>Project Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Amy George, MSc</h6>
      <span>Project Engineer</span>
      <hr/>
      <p>Figuring out the most effective way to recycle ocean plastics</p>
      <p>Currently focused on advanced washing methods to produce high quality plastics</p>
      <p>Believing that humans aren't on earth to destroy it but to sustain the beautiful things that existed forever</p>

      <hr/>
    </div>
  </li>

  -->
  <li> <a href="careers/#" aria-label="View biography of Allison Shrier"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/allison.jpg"/>
    <h6>Allison Shrier</h6>
    <span>Deputy Yard Manager</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Allison Shrier, MBA</h6>
      <span>Deputy Yard Manager</span>
      <hr/>
      <p>Helps ensure ease of operations at the assembly site in Alameda</p>
      <p>Lifelong environmentalist with a love for mobilizing passionate people, to solve the world’s biggest problems</p>
      <p>Water is life</p>

      <hr/>
    </div>
  </li>


  <li> <a href="careers/#" aria-label="View biography of Andre Vollering"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/andre.jpg"/>
    <h6>André Vollering</h6>
    <span>IT Support</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Andre Vollering, MSc</h6>
      <span>IT Support</span>
      <hr/>
      <p>Master Bioinformatics</p>
      <p>I fix computer related problems</p>
      <hr/>
    </div>
  </li>

  <li> <a href="careers/#" aria-label="View biography of Anna Schwarz"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/anna.jpg"/>
    <h6>Anna Schwarz</h6>
    <span>Environmental Researcher</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Anna Schwarz, MSc</h6>
      <span>Environmental Researcher</span>
      <hr/>
      <p>Member of the Ocean Cleanup lab-team</p>
      <p>Bachelor of life and Master of Earth</p>
      <p>Passionate about contributing to a sustainable planet</p>
      <hr/>
    </div>
  </li>

  <!--

  <li> <a href="careers/#" aria-label="View biography of Arjan Boezeman"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/arjan.jpg"/>
    <h6>Arjan Boezeman</h6>
    <span>Project Director Extraction</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Arjan Boezeman, MSc</h6>
      <span>Project Director Extraction</span>
      <hr/>
      <p>History in developing custom equipment for marine contractors</p>
      <p>Awarded 4 patents and 2 innovation awards</p>
      <p>Qualified mechanical engineer and bus driver</p>
      <hr/>
    </div>
  </li>
  -->

  <li> <a href="careers/#" aria-label="View biography of Arjen Tjallema"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/arjen.jpg"/>
    <h6>Arjen Tjallema</h6>
    <span>Technology Manager</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Arjen Tjallema, MSc</h6>
      <span>Technology Manager</span>
      <hr/>
      <p>Hydrodynamics &amp; motion-of-the-ocean expert</p>
      <p>Floating &amp; boating enthusiast</p>
      <p>Experienced mooring designer, with strings attached</p>
      <hr/>
    </div>
  </li>
  <li> <a href="careers/#" aria-label="View biography of Bart Buijsman"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/bart-260.jpg"/>
    <h6>Bart Buijsman</h6>
    <span>Project Engineer Assembly</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Bart Buijsman, BSc</h6>
      <span>Project Engineer Assembly</span>
      <hr/>
      <p>Eight years of field experience in offshore construction</p>
      <p>Lifelong passion for surfing</p>
      <p>When I retire, I like my waves to be free of plastic</p>
      <hr/>
    </div>
  </li>
   <!--
    <li> <a href="careers/#" aria-label="View biography of Bas van der Geest"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/bas.jpg"/>
    <h6>Bas van der Geest</h6>
    <span>Computer Fluid Dynamics Intern</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Bas van der Geest</h6>
      <span>Computer Fluid Dynamics Intern</span>
      <hr/>
      <p>Acquiring information about the physical behaviour of individual plastic particles to improve CFD models.</p>
      <p>Grew up close to nature. To keep enjoying it, conservation efforts need to be done. Having started in a semi arid desert, I didn't think I'd be focussing on the Ocean.</p>
      <hr/>
    </div>
  </li>
    -->


   <li> <a href="careers/#" aria-label="View biography of Bénédicte Dommergues"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/benedicte.jpg"/>
    <h6>Bénédicte Dommergues</h6>
    <span>Junior Modeling Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Bénédicte Dommergues, MSc</h6>
      <span>Junior Modeling Engineer</span>
      <hr/>
      <p>Wants to live on a tropical island, but only if there is no longer plastics on the beaches</p>
      <p>Master of science in maritime engineering, studied at Ecole Centrale Marseille, France</p>
      <hr/>
    </div>
  </li>

   <li> <a href="careers/#" aria-label="View biography of Briana Gibbs"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/briana.jpg"/>
    <h6>Briana Gibbs</h6>
    <span>Environmental Impact Intern</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Briana Gibbs, BSc</h6>
      <span>Environmental Impact Intern</span>
      <hr/>
      <p>MSc student at the Rosenstiel School of Marine and Atmospheric Sciences, Miami</p>
      <p>Investigating the cleanup system's potential impact(s) on marine life</p>
      <p>Grew up along the Pacific, and as an avid marine life lover, I am excited to help contribute to ridding it of plastics</p>
      <hr/>
    </div>
  </li>

     <!--
  <li> <a href="careers/#" aria-label="View biography of Brigitte Vlaswinkel"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/brigitte.jpg"/>
    <h6>Brigitte Vlaswinkel</h6>
    <span>Lead Environmental Impact</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Brigitte Vlaswinkel, PhD</h6>
      <span>Lead Environmental Impact</span>
      <hr/>
      <p>In charge of setting up and managing all environmental impact assessment work</p>
      <p>PhD from Rosenstiel School of Marine and Atmospheric Sciences, Miami</p>
      <p>Passion for Clean Energy and Clean Oceans. Also employed at ‘Oceans of Energy’</p>
      <p>Keeps bodies and minds in balance at The Ocean Cleanup by teaching yoga over lunch</p>
      <hr/>
    </div>
    </li>
    -->

  </li>
  <li> <a href="careers/#" aria-label="View biography of Bruno Sainte-Rose"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/bruno.jpg"/>
    <h6>Bruno Sainte-Rose</h6>
    <span>Lead Computational Modeler</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Bruno Sainte-Rose, PhD</h6>
      <span>Lead Computational Modeler</span>
      <hr/>
      <p>Leads plastic modeling activities</p>
      <p>Loves to put his rocket science education to down to earth challenging missions</p>
      <p>As a Caribbean islander knows the importance of cleaner oceans!</p>
      <hr/>
    </div>

    <li> <a href="careers/#" aria-label="View biography of Carlo Wesseling"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/carlo.jpg"/>
    <h6>Carlo Wesseling</h6>
    <span>Operations Manager</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Carlo Wesseling</h6>
      <span>Operations Manager</span>
      <hr/>
      <p>Former Army engineering officer with 20 years of experience in leadership, strategy design, innovation, and obviously, operations</p>
      <p>Worked as deputy director of the innovation center for the Ministry of Defense</p>
      <p>Geeky board game designer in spare time
</p>
      <hr/>
    </div>
  </li>

     <!--
  <li> <a href="careers/#" aria-label="View biography of Carolyne Claxton"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/carolyn.jpg"/>
    <h6>Carolyne Claxton</h6>
    <span>Hydrodynamic Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Carolyne Claxton, MSc</h6>
      <span>Hydrodynamic Engineer</span>
      <hr/>
      <p>Modelling and simulating the behaviour of objects in the water.</p>
      <p>Spent 4 years in the O&amp;G industry moving and mooring floating rigs around the world’s oceans.</p>
      <p>Would spend my life on the ocean if possible, alternative plan is to be by the ocean doing anything water related.</p>
      <hr/>
    </div>
  </li>
    -->


    <li> <a href="careers/#" aria-label="View biography of Chris Reichard"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/chris_r.jpg"/>
    <h6>Chris Reichard</h6>
    <span>Lead Structural &amp; Mechanical Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Chris Reichard, MSc</h6>
      <span>Lead Structural &amp; Mechanical Engineer</span>
      <hr/>
      <p>Creative, innovation loving engineer leading the structural team for the pacific system</p>
      <p>Experience in structural engineering with a mix of hydrodynamics and coding, previously worked for one of the largest vessels in the offshore industry</p>
      <p>Have a passion for the outdoors and always ready for an adventure</p>
      <hr/>
    </div>
  </li>

    <li> <a href="careers/#" aria-label="View biography of Dan van der Kooy"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/dan-van-der-kooy.jpg"/>
    <h6>Dan van der Kooy</h6>
    <span>Senior Video Producer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Dan van der Kooy</h6>
      <span>Senior Video Producer</span>
      <hr/>
      <p>Storyteller, video producer, film photographer</p>
      <p>Produced thousands of stories from all over this planet</p>
      <p>Now proud to be a part of telling one of the most important stories for this planet</p>
      <hr/>
    </div>
  </li>

  <li> <a href="careers/#" aria-label="View biography of Deborah Koskela"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/deborah_k.jpg"/>
    <h6>Deborah Koskela</h6>
    <span>Lead Hydrodynamic Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Deborah Koskela, BSc</h6>
      <span>Lead Hydrodynamic Engineer</span>
      <hr/>
      <p>Investigated the impact of ocean motion on flexible things, for fifteen years</p>
      <p>Believes in sustainable living. Treads the fine line between recycling and hoarding</p>
      <p>Using my professional skills for my personal beliefs</p>
      <hr/>
    </div>
  </li>

       <!--
    <li> <a href="careers/#" aria-label="View biography of Derk Tazelaar"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/derkt.jpg"/>
    <h6>Derk Tazelaar</h6>
    <span>Financial Controller</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Derk Tazelaar, MSc</h6>
      <span>Financial Controller</span>
      <hr/>
      <p>Experienced Controller for Fabrication and Offshore Installation Projects</p>
      <p>Passionate about surfing and sailing. Wish for my kids to enjoy the ocean as well in the future.</p>
      <hr/>
    </div>
  </li>
        -->

  <li> <a href="careers/#" aria-label="View biography of Diane Fovet"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/diane.jpg"/>
    <h6>Diane Fovet</h6>
    <span>Junior Installation Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Diane Fovet, MSc</h6>
      <span>Junior Installation Engineer</span>
      <hr/>
      <p>Master of Mechanical Engineering from ICAM, Lille</p>
      <p>This is my first job. I couldn't think of a better project to start my professional career</p>
      <p>Trying to better the environment by how I eat, travel, work and live. Optimistic and adventurous, always ready to jump out of planes or do crazy snowboard tricks</p>
      <hr/>
    </div>
  </li>
    <li> <a href="careers/#" aria-label="View biography of Dieuwertje Ewalts"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/dieuwertje.jpg"/>
    <h6>Dieuwertje Ewalts</h6>
    <span>Chief of Staff</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Dieuwertje Ewalts, MSc</h6>
      <span>Chief of Staff</span>
      <hr/>
      <p>Enabling the MT to operate efficiently and effectively, help to secure funding</p>
      <p>Over 12 years experience in strategy development and implementation at Deloitte</p>
      <p>Proud caretaker of two rescued chinchillas. Known as fervent ‘litterati’</p>
      <hr/>
    </div>

  <li> <a href="careers/#" aria-label="View biography of Eline Spek"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/eline.jpg"/>
    <h6>Eline Spek</h6>
    <span>Program Coordinator</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Eline Spek, MSc</h6>
      <span>Program Coordinator</span>
      <hr/>
      <p>Experienced juggler of projects, priorities and plans</p>
      <p>Can almost always answer your question. Probably yesterday</p>
      <p>Boulderer, sword fighter &amp; always something new</p>
      <hr/>
    </div>
  </li>
  <li> <a href="careers/#" aria-label="View biography of Ellen Hoogland"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/ellen.jpg"/>
    <h6>Ellen Hoogland</h6>
    <span>General Counsel</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Ellen Hoogland, LL.M.</h6>
      <span>General Counsel</span>
      <hr/>
      <p>All-round business-oriented general counsel with 20 years of experience</p>
      <p>Motivated to leave the world a bit better than I found it</p>
      <hr/>
    </div>
  </li>
  <li> <a href="careers/#" aria-label="View biography of Erika Träskvik"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/erika.jpg"/>
    <h6>Erika Träskvik</h6>
    <span>Digital Communications Manager</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Erika Träskvik, MSc</h6>
      <span>Digital Communications Manager</span>
      <hr/>
      <p>Have been fascinated by marketing as long as I can remember. Finnish but speak Swedish</p>
      <p>Grew up in the forest and spent the summers at the coast. Yes, Finland has summer too</p>
      <p>Loving the “nothing is impossible”-spirit at The Ocean Cleanup</p>
      <hr/>
    </div>
  </li>

        <!--

  <li> <a href="careers/#" aria-label="View biography of Evelyn Bray"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/evelyn-260.jpg"/>
    <h6>Evelyn Bray</h6>
    <span>Communication Strategy Developer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Evelyn Bray, BSc</h6>
      <span>Communication Strategy Developer</span>
      <hr/>
      <p>The Ocean Cleanup's biggest fan</p>
      <p>Firm believer research and communications are a match made in heaven</p>
      <p>My recipe to clean the ocean: optimism, determination, passion mixed with strategy, correspondence, out-of-the-box thinking and a dash of insanity</p>
      <hr/>
    </div>
  </li>

    -->

    <li> <a href="careers/#" aria-label="View biography of Fedde Poppenk"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/fedde.jpg"/>
    <h6>Fedde Poppenk</h6>
    <span>Mechanical Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Fedde Poppenk, MSc</h6>
      <span>Mechanical Engineer</span>
      <hr/>
      <p>Working on the Pacific Ocean System as a design and structural engineer</p>
      <p>Graduated as Space Systems Engineer, spent 7 years in the Oil and Gas industry as a designer and now up for doing some good</p>
      <hr/>
    </div>
  </li>


  <li> <a href="careers/#" aria-label="View biography of Femke Hoes"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/femke.jpg"/>
    <h6>Femke Hoes</h6>
    <span>Legal &amp; Finance Coordinator</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Femke Hoes</h6>
      <span>Legal &amp; Finance Coordinator</span>
      <hr/>
      <p>Proud member of the service team</p>
      <p>Passionate about ridding the oceans of plastic</p>
      <hr/>
    </div>
  </li>
  <li> <a href="careers/#" aria-label="View biography of Florent Beauverd"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/florent-beauverd.jpg"/>
    <h6>Florent Beauverd</h6>
    <span>Creative Content Director</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Florent Beauverd, BSc</h6>
      <span>Creative Content Director</span>
      <hr/>
      <p>Self-educated videographer, photographer and copywriter</p>
      <p>Bsc. Geosciences &amp; Environment</p>
      <p>Curious about physics &amp; mechanical engineering. Tendency to shatter iPhone screens. In love with the great outdoors</p>
      <hr/>
    </div>
  </li>

      <li> <a href="careers/#" aria-label="View biography of Florian Merlet"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/florian.jpg"/>
    <h6>Florian Merlet</h6>
    <span>Installation Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Florian Merlet, MSc</h6>
      <span>Installation Engineer</span>
      <hr/>
      <p>Busy with engineering and coordinating onshore/offshore operations from the head office</p>
      <p>5 years' experience in engineering and following on site offshore operations</p>
      <p>Dreaming of perfect waves at night and always carrying an analog camera during the day!</p>
      <hr/>
    </div>
  </li>

  <li> <a href="careers/#" aria-label="View biography of Francesco F. Ferrari"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/francesco.jpg"/>
    <h6>Francesco F. Ferrari</h6>
    <span>Environmental Monitoring Coordinator</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Francesco F. Ferrari, MSc</h6>
      <span>Environmental Monitoring Coordinator</span>
      <hr/>
      <p>Because plastic fighting handyman marine biologist that sails the ocean, is not a job title</p>
      <p>3  expeditions to collect samples</p>
      <p>Always looking for a solution</p>
      <hr/>
    </div>
  </li>
      <!--
  <li> <a href="careers/#" aria-label="View biography of Gerard van Laar"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/gerard.jpg"/>
    <h6>Gerard van Laar</h6>
    <span>Freelance Mechanical Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Gerard van Laar, MSc</h6>
      <span>Freelance Mechanical Engineer</span>
      <hr/>
      <p>Master degree in Automotive Engineering</p>
      <p>Professional inventor in the horizontal world and surprising ability to survive in the vertical world, thus far</p>
      <hr/>
    </div>
  </li>
      -->

      <li> <a href="careers/#" aria-label="View biography of Hanna Beumer"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/hanna.jpg"/>
    <h6>Hanna Beumer</h6>
    <span>Executive Assistant to CEO</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Hanna Beumer, BSc</h6>
      <span>Executive Assistant to CEO</span>
      <hr/>
      <p>Enhancing the executives effectiveness by providing information management support and representing the executive to others</p>
      <p>Bachelor of Business Administration - Professional background in Events Management, Artist Handling, Marketing and Executive/Personal Assistance</p>
      <p>Passionate about traveling, beauty of nature and neuropsychology</p>
      <hr/>
    </div>
  </li>

   <li> <a href="careers/#" aria-label="View biography of Hans Limburg"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/hans.jpg"/>
    <h6>Hans Limburg</h6>
    <span>Ocean Team Graduate Intern</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Hans Limburg, BSc</h6>
      <span>Ocean Team Graduate Intern</span>
      <hr/>
      <p>Studying wave overtopping and bridging phenomena of the floating barrier system</p>
      <p>Regularly found in, near and on the water</p>
      <hr/>
    </div>
  </li>


  <li> <a href="careers/#" aria-label="View biography of Hendrik Wrenger"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/hendrik_w.jpg"/>
    <h6>Hendrik Wrenger</h6>
    <span>Computational Modeler</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Hendrik Wrenger, MSc</h6>
      <span>Computational Modeler</span>
      <hr/>
      <p>Investigating the accumulation of plastic in front of the barrier</p>
      <p>Varied background ranging from hands-on construction to environmental engineering</p>
      <p>Hoping to find a way to make use of his paraglider in the Netherlands</p>
      <hr/>
    </div>
  </li>

    <li> <a href="careers/#" aria-label="View biography of Henk van Dalen"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/henk-v-d.jpg"/>
    <h6>Henk van Dalen</h6>
    <span>Project Manager</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Henk van Dalen, MSc</h6>
      <span>Project Manager</span>
      <hr/>
      <p>Responsible for a successful execution of the first cleanup system</p>
      <p>Experienced in Procurement, Project Management and Business Development</p>
      <p>Passionate surfer who lives by the motto "don’t destroy what you came to enjoy"</p>
    <hr/>
    </div>
  </li>

      <li> <a href="careers/#" aria-label="View biography of Henning Lagemann"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/henning.jpg"/>
    <h6>Henning Lagemann</h6>
    <span>Graduate Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Henning Lagemann, BSc</h6>
      <span>Graduate Engineer</span>
      <hr/>
      <p>Coming up with lab- and field tests to improve barrier design</p>
      <p>Former product development engineer at a water safety company</p>
      <p>Loves to swim in clean rivers, lakes and oceans</p>
    <hr/>
    </div>
  </li>

  <li> <a href="careers/#" aria-label="View biography of Ivan Soares"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/ivan-260.jpg"/>
    <h6>Ivan Soares</h6>
    <span>Oceanographer &amp; Computational Modeler</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Ivan Soares, PhD</h6>
      <span>Oceanographer &amp; Computational Modeler</span>
      <hr/>
      <p>Senior Oceanographer with 25 years of experience in Ocean Circulation Modeling</p>
      <p>Has a PhD in Meteorology and Physical Oceanography by the Rosenstiel School of Marine and Atmospheric Science – University of Miami</p>
      <p>Founder and CEO of the <a href="http://www.atlantis.org.br" target="_blank">Atlantis Institute</a>)</p>
      <hr/>
    </div>
  </li>

    <li> <a href="careers/#" aria-label="View biography of Jaap Spaans"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/jaap_s.jpg"/>
    <h6>Jaap Spaans</h6>
    <span>Draftsman</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Jaap Spaans, BSc</h6>
      <span>Draftsman</span>
      <hr/>
      <p>Working on the Pacific Ocean System, the system that will take out plastic from the oceans</p>
      <p>Previously Design Engineer at Huisman Equipment, Dive instructor and draftsman at Royal HaskoningDHV</p>
      <p>As a scuba diver did coral reef clean-ups, now happy to join the biggest ocean clean-up in history</p>
      <hr/>
    </div>
  </li>

  <li> <a href="careers/#" aria-label="View biography of Jan-Willem Damsteeg"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/janwillem.jpg"/>
    <h6>Jan-Willem Damsteeg</h6>
    <span>Systems and Control Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Jan-Willem Damsteeg, MSc</h6>
      <span>Systems and Control Engineer</span>
      <hr/>
      <p>Background in Mechanical and Control Engineering</p>
      <p>Spatial data analysis &amp; Mechatronics design</p>
      <p>Passionate about race cycling</p>
      <hr/>
    </div>
  </li>
  <li> <a href="careers/#" aria-label="View biography of Jean-Sebastien Verjut"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/jean.jpg"/>
    <h6>Jean-Sebastien Verjut</h6>
    <span>Senior Structural Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Jean-Sebastien Verjut, MSc</h6>
      <span>Senior Structural Engineer</span>
      <hr/>
      <p>Passionate about everything floating</p>
      <p>Helped moor vessels for the O&amp;G industry from 70 to 2700 m water depth</p>
      <p>Likes to rise up to the challenge</p>
      <hr/>
    </div>
  </li>

        <!--

  <li> <a href="careers/#" aria-label="View biography of Jetteke Flick"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/jetteke.jpg"/>
    <h6>Jetteke Flick</h6>
    <span>Modelling &amp; Simulation Intern</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Jetteke Flick, BSc</h6>
      <span>Modelling &amp; Simulation Intern</span>
      <hr/>
      <p>BSc in Aerospace Engineering</p>
      <p>Investigating the interaction between the barrier and the water</p>
      <p>Can spend hours watching the ballet of a lion's mane jellyfish</p>
      <hr/>
    </div>
  </li>
    -->

    <li> <a href="careers/#" aria-label="View biography of Joel Jansen"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/joel.jpg"/>
    <h6>Joel Jansen</h6>
    <span>Specialist Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Joel Jansen, MSc</h6>
      <span>Specialist Engineer</span>
      <hr/>
      <p>Specialist in several engineering disciplines (hence the job title). Now focused on QHSE (Quality, Health, Safety and Environment) for The Ocean Cleanup system</p>
      <p>Previously worked for an innovative company in offshore access, transferring millions of people offshore safely from a vessel to an offshore structure</p>
      <p>Would like to leave behind a better world for our children. If not now then when?</p>
      <hr/>
    </div>
  </li>

   <li> <a href="careers/#" aria-label="View biography of Josee Meiners"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/josee_m.jpg"/>
    <h6>Josee Meiners</h6>
    <span>HR Director</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Josee Meiners</h6>
      <span>HR Director</span>
      <hr/>
      <p>High energy HR Director &amp; problem solver</p>
      <p>Living on a sailing boat, clean water is so important to me. That’s why I put my experience and energy in The Ocean Cleanup mission</p>
      <hr/>
    </div>
  </li>
     <!--
     <li> <a href="careers/#" aria-label="View biography of Julia Reisser"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/julia.jpg"/>
    <h6>Julia Reisser</h6>
    <span>Oceanographer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Julia Reisser, PhD</h6>
      <span>Oceanographer</span>
      <hr/>
      <p>Leads the ocean plastic research team, with 10+ years of at-sea experience from tropics to poles</p>
      <p>Author of 15+ peer-reviewed publications</p>
      <p>Obsessed with making the Great Pacific Garbage Patch disappear ASAP</p>
      <hr/>
    </div>
  </li>
      -->

  <li> <a href="careers/#" aria-label="View biography of Julius Lein"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/julius.jpg"/>
    <h6>Julius Lein</h6>
    <span>Technical Superintendent</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Julius Lein, MSc</h6>
      <span>Technical Superintendent</span>
      <hr/>
      <p>Hydrodynamics and coding vs. operation and organization, familiar in both worlds</p>
      <p>Passion for windsurfing, sailing, football, cycling… sports!</p>
      <p>Fixing everything from old scooters to computers</p>
      <hr/>
    </div>
  </li>
  <li> <a href="careers/#" aria-label="View biography of Kees van Oeveren"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/kees_v_o.jpg"/>
    <h6>Kees van Oeveren</h6>
    <span>Mechatronics Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Kees van Oeveren, MSc</h6>
      <span>Mechatronics Engineer</span>
      <hr/>
      <p>Developping plastic sensing techniques</p>
      <p>MSc Energy &amp; Environmental Sciences</p>
      <p>Passionate about kitesurfing and DIY music electronics</p>
      <hr/>
    </div>
  </li>
  <li> <a href="careers/#" aria-label="View biography of Laurent Lebreton"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/laurent-lebreton.jpg"/>
    <h6>Laurent Lebreton</h6>
    <span>Oceanographer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Laurent Lebreton, MSc</h6>
      <span>Oceanographer</span>
      <hr/>
      <p>10 years experience in ocean modelling, environmental data science and mapping</p>
      <p>Ocean lover, surfer and globetrotter</p>
      <hr/>
    </div>
  </li>

      <li> <a href="careers/#" aria-label="View biography of Marc Laubscher"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/marc.jpg"/>
    <h6>Marc Laubscher</h6>
    <span>Financial Manager</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>March Laubscher</h6>
      <span>Financial Manager</span>
      <hr/>
      <p>Responsible for managing the finance function, financial planning and reporting</p>
      <p>Experience in a number of industries as an auditor at Deloitte for 6 years in South Africa, San Francisco and Rotterdam</p>
      <p>Big fan of the great outdoors, wildlife and playing golf</p>
      <hr/>
    </div>
  </li>

    <!--

  <li> <a href="careers/#" aria-label="View biography of Leanne Brits"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/leannebrits.jpg"/>
    <h6>Leanne Brits</h6>
    <span>Recycling Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Leanne Brits, MSc</h6>
      <span>Recycling Engineer</span>
      <hr/>
      <p>MSc Chemical Engineering</p>
      <p>Transitioned from Academia to R&amp;D, always focussing on chemical analysis</p>
      <p>Travel and Tea enthusiast</p>
      <hr/>
    </div>
  </li>
         -->

    <!--

  <li> <a href="careers/#" aria-label="View biography of Mark Paalvast"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/mark.jpg"/>
    <h6>Mark Paalvast</h6>
    <span>Hydrodynamic Analyst</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Mark Paalvast, MSc</h6>
      <span>Hydrodynamic Analyst</span>
      <hr/>
      <p>Graduated Cum Laude from TU Delft</p>
      <p>Over 25+ years of experience in wordplay jokes</p>
      <p>Very enthusiastic about everything that moves in the ocean</p>
      <hr/>
    </div>
  </li>
    -->

     <li> <a href="careers/#" aria-label="View biography of Marieke Bijl"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/marieke.jpg"/>
    <h6>Marieke Bijl</h6>
    <span>Office Manager</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Marieke Bijl, LL.M</h6>
      <span>Office Manager</span>
      <hr/>
      <p>Motivated, proactive and proud member of the team working on ridding our oceans of plastic</p>
      <p>Had a company for 12 years, so far not sorry for the exchange to The Ocean Cleanup</p>
      <hr/>
    </div>
  </li>

     <li> <a href="careers/#" aria-label="View biography of Matthias Egger"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/matthias-egger.jpg"/>
    <h6>Matthias Egger</h6>
    <span>Ocean Plastic Researcher</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Matthias Egger, PhD</h6>
      <span>Ocean Plastic Researcher</span>
      <hr/>
      <p>Using 10+ years of experience in marine research to improve our knowledge about the cycling of plastic in the ocean</p>
      <p>PhD in Marine Biogeochemistry (Utrecht University), MSc in Environmental Sciences (ETH Zurich)</p>
      <p>Born and raised in the Swiss Alps, passionate scuba diver, weakness for chocolate and Belgian Beers</p>
      <hr/>
    </div>
  </li>


      <li> <a href="careers/#" aria-label="View biography of Matthias van Middendorp"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/matthias-v-m.jpg"/>
    <h6>Matthias van Middendorp</h6>
    <span>Design Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Matthias van Middendorp, MSc</h6>
      <span>Design Engineer</span>
      <hr/>
      <p>Designing concepts and materialising industrial products and machines with a special interest for clean tech sector</p>
      <p>Working on the extraction system</p>
      <p>Passionate about travelling and sports like cycling, hiking and climbing</p>
      <hr/>
    </div>
  </li>

        <li> <a href="careers/#" aria-label="View biography of Menno Bijl"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/menno.jpg"/>
    <h6>Menno Bijl</h6>
    <span>Project Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Menno Bijl, MSc</h6>
      <span>Project Engineer</span>
      <hr/>
      <p>Picking-up everything that is required to assist the team in setting and reaching our goals</p>
      <p>Grew up in Offshore Engineering for the Oil and Gas industry. Developed into a QA/QC Engineer, later QA/QC Manager and Project Engineering Manager</p>
      <p>Crossed the Atlantic Ocean on board a sailing vessel in 2015</p>
      <hr/>
    </div>
  </li>

    <li> <a href="careers/#" aria-label="View biography of Michelle Loozen"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/michelle.jpg"/>
    <h6>Michelle Loozen</h6>
    <span>Hydraulic Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Michelle Loozen, MSc</h6>
      <span>Hydraulic Engineer</span>
      <hr/>
      <p>Studied Coastal and River Engineering at the Technical University of Delft</p>
      <p>Now putting technical knowledge to use by participating in a spectacular project</p>
      <p>Impulsive, curious and seeking challenges. A bit scared by the ocean, but can't resist its mystery</p>
      <hr/>
    </div>
  </li>
    <!--
      <li> <a href="careers/#" aria-label="View biography of Mitch Geraedts"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/mitch.jpg"/>
    <h6>Mitch Geraedts</h6>
    <span>Ocean Team Intern</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Mitch Geraedts</h6>
      <span>Ocean Team Intern</span>
      <hr/>
      <p>Modelling heat transfer in the barrier due to solar radiation</p>
      <p>While studying laboratory technology I was always way more interested in the physical and sustainable aspects</p>
      <hr/>
    </div>
  </li>
  -->

  <li> <a href="careers/#" aria-label="View biography of Norbert Fraunholcz"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/norbert.jpg"/>
    <h6>Norbert Fraunholcz</h6>
    <span>Lead Engineer Recycling</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Norbert Fraunholcz, PhD</h6>
      <span>Lead Engineer Recycling</span>
      <hr/>
      <p>+20 years of experience in recycling technology of waste plastics</p>
      <p>Experienced in R&amp;D and actual recycling operations</p>
      <p>Passionate about eco-system-friendly plastics and a clean environment on land and sea in general</p>
      <hr/>
    </div>
  </li>

     <li> <a href="careers/#" aria-label="View biography of Peter Wiersum"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/peter_W.jpg"/>
    <h6>Peter Wiersum</h6>
    <span>Project Manager Communications</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Peter Wiersum, OLY</h6>
      <span>Project Manager Communications</span>
      <hr/>
      <p>Aligning engineering and operational work with communications planning and logistics</p>
      <p>Represented the Netherlands at the Beijing, London and Rio Olympic Games</p>
      <p>Former world champion and Olympic bronze medallist coxing the Dutch men’s rowing team</p>
      <hr/>
    </div>
  </li>
    <!--
    <li> <a href="careers/#" aria-label="View biography of Petra Mijnders"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/petra.jpg"/>
    <h6>Petra Mijnders</h6>
    <span>Project Manager Office</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Petra Mijnders</h6>
      <span>Project Manager Office</span>
      <hr/>
      <p>All round project management to speed up the workflow within the organization</p>
      <p>Passionate surfer and beach cleaner. Co-founder of Into The Wild Algarve, an off the grid retreat center in Portugal</p>
      <hr/>
    </div>
  </li>
      -->

     <li> <a href="careers/#" aria-label="View biography of Rachel Richardson"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/rachel_richardson.jpg"/>
    <h6>Rachel Richardson</h6>
    <span>Communications Strategy Officer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Rachel Richardson, BSc</h6>
      <span>Communications Strategy Officer</span>
      <hr/>
      <p>I love to tell a good story, and I’m here to help The Ocean Cleanup tell theirs</p>
      <p>Have worked in aerospace, fashion, law, healthcare, education, but now I think I found my fit in the ocean</p>
      <p>Ran several half marathons, ran one full marathon, and can quote 97.3% of the movie Zoolander</p>
      <hr/>
    </div>
  </li>

    <!--

    <li> <a href="careers/#" aria-label="View biography of Raghavendra Sharma"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/ragha.jpg"/>
    <h6>Raghavendra Sharma</h6>
    <span>Environmental Researcher</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Raghavendra Sharma, MSc</h6>
      <span>Environmental Researcher</span>
      <hr/>
      <p>Working on Remote Sensing and Geo-spatial applications to make The Ocean Cleanup endeavors even more successful.</p>
      <p>MSc in Geo-Information Science and Earth Observation. Digging deep into Machine Learning and LiDAR Remote Sensing.</p>
      <p>Enthusiastic, self-motivated, results-driven professional who wants to build useful applications by leveraging earth observation data that would lead to a sustainable environment.</p>
      <hr/>
    </div>
  </li>

    -->

  <li> <a href="careers/#" aria-label="View biography of Reijnder de Feijter"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/reijnder-260.jpg"/>
    <h6>Reijnder de Feijter</h6>
    <span>Technical Superintendent</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Reijnder de Feijter, MSc</h6>
      <span>Technical Superintendent</span>
      <hr/>
      <p>Investigating the structural and hydrodynamic response of the cleanup system</p>
      <p>Divides even his lunch into finite elements</p>
      <p>Passionate about eco friendly motorsports</p>
      <hr/>
    </div>
  </li>
  <li> <a href="careers/#" aria-label="View biography of Rick Martini"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/rick.jpg"/>
    <h6>Rick Martini</h6>
    <span>Offshore Operations Manager</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Rick Martini</h6>
      <span>Offshore Operations Manager</span>
      <hr/>
      <p>Prepares and Leads offshore operations. 25+  years' experience in Shipbuilding and offshore operations</p>
      <p>Loves to sail the seven seas with his yacht</p>
      <p>Passionate about all creatures great and small living in the oceans</p>
      <hr/>
    </div>
  </li>

      <li> <a href="careers/#" aria-label="View biography of Rikke van Berk"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/rikke.jpg"/>
    <h6>Rikke van Berk</h6>
    <span>General Manager Extraction</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Rikke van Berk, MSc</h6>
      <span>General Manager Extraction</span>
      <hr/>
      <p>Responsible for the implementation of cleanup systems worldwide</p>
      <p>Experienced CEO of engineering companies, Business development and Consultancy in Developing countries and Supervisory board member of a Dutch family owned machine shop</p>
      <p>Striving to contribute to a better world through a healthy business approach</p>
      <hr/>
    </div>
  </li>

  <li> <a href="careers/#" aria-label="View biography of Rob Koning"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/rob.jpg"/>
    <h6>Rob Koning</h6>
    <span>Project Planner</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Rob Koning, BSc</h6>
      <span>Project Planner</span>
      <hr/>
      <p>Plan the work, support the team to work the plan</p>
      <p>Background in Project Control Management on turnaround, maintenance and EPC(I) projects</p>
      <hr/>
    </div>
  </li>
    <!--
    <li> <a href="careers/#" aria-label="View biography of Robbert Sint Jago"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/robbert-260.jpg"/>
    <h6>Robbert Sint Jago</h6>
    <span>Mechanical Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Robbert Sint Jago, MSc</h6>
      <span>Mechanical Engineer</span>
      <hr/>
      <p>Graduated specializing in hydromechanics at the Technical University of Delft.</p>
      <p>Passionate about most things that involve both technical analyses and sustainable technologies.</p>
      <p>Reality is wrong. Dreams are for real. (Tupac Shakur)</p>
    <hr/>
    </div>
  </li>
    -->

  <li> <a href="careers/#" aria-label="View biography of Roberto Brambini"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/roberto.jpg"/>
    <h6>Roberto Brambini</h6>
    <span>Hydrodynamic Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Roberto Brambini, MSc</h6>
      <span>Hydrodynamic Engineer</span>
      <hr/>
      <p>Lived in Denmark where I got the M.Sc. degree in Civil Engineering</p>
      <p>Singer-songwriter and passionate about swimming, surf, football and snowboarding</p>
      <p>Best adventure so far: one month research expedition in the North Pacific ocean</p>
      <hr/>
    </div>
  </li>

      <li> <a href="careers/#" aria-label="View biography of Robin de Vries"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/robin.jpg"/>
    <h6>Robin de Vries</h6>
    <span>Geospatial Analyst</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Robin de Vries, MSc</h6>
      <span>Geospatial Analyst</span>
      <hr/>
      <p>Researching plastics detection, mapping and analysis from the air and from space</p>
      <p>Four years of experience in Remote Sensing and Geo-Information Analysis in one of the oil &amp; gas supermajors</p>
      <p>Fascinated by our dynamic and powerful planet and convinced it will get rid of us, humans, if we don’t keep it clean!</p>
      <hr/>
    </div>
  </li>

      <!--
        <li> <a href="careers/#" aria-label="View biography of Rogier Reker"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/rogier_reker.jpg"/>
    <h6>Rogier Reker</h6>
    <span>Social Media Advisor</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Rogier Reker</h6>
      <span>Social Media Advisor</span>
      <hr/>
      <p>Assisting the communications team on social media strategy</p>
      <p>6 years of experience in social media and content creation for large organisations such as KLM</p>
      <p>Impulsive &amp; curious. Outdoor person. Cycled from Amsterdam to Barcelona because of a bet. Raised next to the ocean</p>
      <hr/>
    </div>
  </li>
  -->

  <li> <a href="careers/#" aria-label="View biography of Ruud Schrama"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/ruud.jpg"/>
    <h6>Ruud Schrama</h6>
    <span>Project Director</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Ruud Schrama, BSc</h6>
      <span>Pacific Operations Project Director</span>
      <hr/>
      <p>Responsible for the design and execution of the first cleanup system</p>
      <p>Bringing 32 years of offshore experience to ensure safety, quality and scheduling on this challenging project</p>
      <p>Born and raised in the country side, always been close to mother nature. Managed that no plastic bottles and cups were used on an 18-months lasting project on the Indian Ocean</p>
      <hr/>
    </div>
  </li>
          <li> <a href="careers/#" aria-label="View biography of Selma Damsteeg"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/selma.jpg"/>
    <h6>Selma Damsteeg</h6>
    <span>Mechanical Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Selma Damsteeg, MSc</h6>
      <span>Mechanical Engineer</span>
      <hr/>
      <p>Testing equipment, concept development, creating manuals and managing risks.</p>
      <p>Glad to work in this enthusiastic and diverse team.</p>
      <p>Always challenging myself and others to think a step further.</p>
      <hr/>
    </div>
  </li>
  <li> <a href="careers/#" aria-label="View biography of Siiri Hatakka"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/siiri.jpg"/>
    <h6>Siiri Hatakka</h6>
    <span>Project Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Siiri Hatakka, MSc</h6>
      <span>Project Engineer</span>
      <hr/>
      <p>MSc. Economics, Corporate Environmental Management</p>
      <p>Working on recycling strategy for the Ocean Plastic</p>
      <p>Background in Environmental Management and Health &amp; Safety</p>
      <hr/>
    </div>
  </li>

     <li> <a href="careers/#" aria-label="View biography of Siwam Gupta"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/siwam.jpg"/>
    <h6>Siwam Gupta</h6>
    <span>Financial Assistant</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Siwam Gupta, BBA</h6>
      <span>Financial Assistant</span>
      <hr/>
      <p>Proud member of a team that makes the world a better place to live in</p>
      <p>Success to me is growing as a person every day to reach my full potential and doing the things I love</p>
      <hr/>
    </div>
  </li>

    <!--
  <li> <a href="careers/#" aria-label="View biography of Simone Krielen"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/simone.jpg"/>
    <h6>Simone Krielen</h6>
    <span>Executive Personal Assistant</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Simone Krielen, BCom</h6>
      <span>Executive Personal Assistant</span>
      <hr/>
      <p>Proud member of the service team</p>
      <p>Passionate about ridding the oceans of plastic</p>
      <hr/>
    </div>
  </li>
    -->

  <li> <a href="careers/#" aria-label="View biography of Sjoerd Drenkelford"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/sjoerd.jpg"/>
    <h6>Sjoerd Drenkelford</h6>
    <span>Mechanical Engineer</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Sjoerd Drenkelford, MSc</h6>
      <span>Mechanical Engineer</span>
      <hr/>
      <p>Works on extraction technology</p>
      <p>Background in Transport engineering and logistics</p>
      <p>Fanatic music lover</p>
      <hr/>
    </div>
  </li>
  <li> <a href="careers/#" aria-label="View biography of Steven Bink"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/steven.jpg"/>
    <h6>Steven Bink</h6>
    <span>IT Coordinator</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Steven Bink</h6>
      <span>IT Coordinator</span>
      <hr/>
      <p>Microsoft Tech consultant since 1994</p>
      <p>Passionate for Science and Technology</p>
      <p>Joined The Ocean Cleanup on June 18, 2013</p>
      <hr/>
    </div>
  </li>

      <li> <a href="careers/#" aria-label="View biography of Tim van Emmerik"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/tim.jpg"/>
    <h6>Tim van Emmerik</h6>
    <span>Senior Researcher</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Tim van Emmerik, PhD</h6>
      <span>Senior Researcher</span>
      <hr/>
      <p>Quantifying global riverine plastic waste</p>
      <p>Experienced experimental geoscientist, passionate about measuring unmeasured parts of the hydro- and biosphere</p>
      <p>Wake me up for analogue photography, science poetry, or negroni</p>
      <hr/>
    </div>
  </li>

     <li> <a href="careers/#" aria-label="View biography of Tara Bush"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/tara-bush.jpg"/>
    <h6>Tara Bush</h6>
    <span>Procurement Specialist &amp; Volunteer Coordinator</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Tara Bush</h6>
      <span>Procurement Specialist &amp; Volunteer Coordinator</span>
      <hr/>
      <p>Working on the Pacific Ocean System at the assembly yard to make sure everything and everyone gets there according to planning</p>
      <p>Previously coordinated volunteers, media relations, and built capacity for the solar and biotech industries</p>
      <p>Loves playing in the outdoors with friends, scuba diving, gardening, and traveling around the world</p>
      <hr/>
    </div>
  </li>

       <li> <a href="careers/#" aria-label="View biography of Wouter van Tongeren"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/wouter.jpg"/>
    <h6>Wouter van Tongeren</h6>
    <span>Head of International Relations</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Wouter van Tongeren</h6>
      <span>Head of International Relations</span>
      <hr/>
      <p>Studied International Relations in Leiden and Stellenbosch (SA) and Social Entrepreneurship in Amsterdam</p>
      <p>Skilled to co-create new ideas to persistent challenges, rethink outmoded systems and innovate in industry-defining ways</p>
      <p>Football player, former voice actor (one of Disney’s Lost Boys and Good Luck Bear).</p>
      <hr/>
    </div>
  </li>
        <!--

    <li> <a href="careers/#" aria-label="View biography of Wessel van Ekeren"> <img src="fileadmin/media-archive/img/Pages/About_team_pics/wessel.jpg"/>
    <h6>Wessel van Ekeren</h6>
    <span>Recycling Engineer Intern</span> </a>
    <div class="team-members-block__bio js-bio">
      <h6>Wessel van Ekeren</h6>
      <span>Recycling Engineer Intern, BSc</span>
      <hr/>
      <p>MSc Student Materials Science and Engineering</p>
      <p>Working on recycling possibilities of ocean plastics. Focusing on the compounding of degraded polypropylene and polyethylene.</p>
      <p>Life goal: living in a world with everyday products made from ocean plastics.</p>
      <hr/>
    </div>
  </li>
    -->

</ul>
    </div>
  </section>
  <section class="call-to-action-block">
    <div class="call-to-action-block__inner">
      <div class="call-to-action-block__part">
         <h2 class="block-title">The latest updates</h2>
        <p>Read about the recent progress and achievements.</p>
        <a class="button button--secondary" href="/updates/">Read more</a>
      </div>
      <div class="call-to-action-block__part">
          <h2 class="block-title">Fund the cleanup</h2>
        <p>Help us bridge the gap between the first system and full-scale deployment.</p>
        <a class="button button--secondary" href="/fund/">Donate</a>
      </div>
    </div>
  </section>
</main>
<!-- .wrapper -->
<!-- partials/footer: -->

<footer role="contentinfo">
  <aside class="follow-bar">
    <div class="follow-bar__inner">
      <div class="follow-bar__social">
        <div id="c65" class="csc-default"><h3>Follow us</h3>
        <ul>
          <li><a class="instagram_follow_link" href="https://www.instagram.com/theoceancleanup/" target="_blank">
            <svg role="img" data-icon="instagram">
              <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#instagram"></use>
            </svg>
            <span>Follow us on Instagram</span> </a></li>
          <li><a class="facebook_follow_link" href="https://www.facebook.com/TheOceanCleanup/" target="_blank">
            <svg role="img" data-icon="facebook">
              <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#facebook"></use>
            </svg>
            <span>Follow us on Facebook</span> </a></li>
          <li><a class="twitter_follow_link" href="https://twitter.com/theoceancleanup" target="_blank">
            <svg role="img" data-icon="twitter">
              <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#twitter"></use>
            </svg>
            <span>Follow us on Twitter</span> </a></li>
          <li><a class="youtube_follow_link" href="https://www.youtube.com/TheOceanCleanup " target="_blank">
          <svg role="img" data-icon="youtube">
            <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#youtube"></use></svg>

          <span>Follow us on YouTube</span>
        </a></li>
        <li><a class="linked_follow_link" href="https://www.linkedin.com/company/the-ocean-cleanup" target="_blank">
          <svg role="img" data-icon="linkedin">
            <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#linkedin"></use></svg>

          <span>Connect with us on LinkedIn</span>
        </a></li>
        </ul></div>
      </div>
      <div class="follow-bar__newsletter">
        <h6>Newsletter</h6>
<form data-enhancer="newsletterForm" action="fileadmin/themes/oceancleanup_2016/t3ext/mailchimp_process.php" method="post" validate>
  <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required aria-label="Your e-mail address"/>
  <button type="submit" aria-label="Subscribe to our newsletter">
    <svg role="img" data-icon="mail" title="Subscribe">
      <use xlink:href="fileadmin/themes/oceancleanup_2016/css/img/icons.svg#mail"></use>
    </svg>
    <span>Subscribe</span> </button>
  <div class="follow-bar__newsletter-status js-newsletter-status" aria-hidden="true"></div>
</form>


      </div>
    </div>
  </aside>
  <nav class="footer-nav" role="navigation">
    <div class="footer-nav__inner">
      <div class="footer-nav__part">
        <h6>The Ocean Cleanup</h6><ul><li><a href="technology/" target="_top" class="internal-link">Technology</a></li> <li><a href="system001/" target="_top" class="internal-link">System 001</a></li> <li><a href="milestones/" target="_top">Milestones</a></li> <li><a href="updates/" target="_top" class="internal-link">Updates</a></li> <li><a href="scientific-publications/" target="_top">Scientific publications</a></li> <li><a href="great-pacific-garbage-patch/" target="_top" class="internal-link">Great Pacific Garbage Patch</a></li> <li><a href="sources/" target="_top">Plastic Sources</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>About us</h6><ul><li><a href="careers/" target="_top" class="internal-link">Careers</a></li> <li><a href="about/" target="_top" class="internal-link">About</a></li> <li><a href="press/" target="_top" class="internal-link">Press</a></li> <li><a href="https://www.theoceancleanup.com/media-gallery/" target="_blank">Media gallery</a></li> <li><a href="partners/" target="_top" class="internal-link">Partners</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Help</h6><ul><li><a href="support/" target="_top" class="internal-link">Support</a></li> <li><a href="shop/" target="_top" class="internal-link">Shop</a></li> <li><a href="faq/" target="_top" class="internal-link">FAQ</a></li> <li><a href="contact/" target="_top" class="internal-link">Contact</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Legal</h6><ul><li><a href="privacy-and-cookie-notice/" target="_top" class="internal-link">Privacy &amp; cookie notice</a></li> <li><a href="support/donation-terms-and-conditions/" target="_top" class="internal-link">Donations terms &amp; conditions</a></li> <li><a href="disclaimer/" target="_top" class="internal-link">Disclaimer</a></li> <li><a href="foundation-details/" target="_top" class="internal-link">Foundation details</a></li> <li><a href="the-ocean-cleanup-north-pacific-foundation/" target="_top" class="internal-link">The Ocean Cleanup North Pacific Foundation</a></li></ul>
      </div>
    </div>
    <div class="footer-nav__copyright">&copy; 2018 The Ocean Cleanup. All rights reserved.
<br>This site is hosted by Greenhost.</div>
  </nav>
</footer>
<script>
	/**
	 * Prevent loading of iframes, lazyload them later
	 */
	var iframes = document.getElementsByTagName('iframe');
	for (var i = 0; i < iframes.length; i++) {
		var src = iframes[i].src;
		iframes[i].src = '';
		iframes[i].setAttribute('data-src', src);
	}
</script>

<script src="typo3temp/javascript_bd4d1f63e4.js?1481036357" type="text/javascript"></script>


</body>
</html>
