
<aside class="cookie-bar js-cookie-bar" data-enhancer="cookieBar" role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookie-bar-description" aria-hidden="true">
    <!--googleoff: all-->
    <p id="cookie-bar-description">This site makes use of third-party cookies for analytics. By continuing to use the site, you accept the use of cookies. <a href="https://www.theoceancleanup.com/privacy-and-cookie-notice/" target="_blank">Read more</a></p>
    <button class="button button--secondary button--small" data-handler="cookieBarAccept"  aria-label="Accept the use of cookies on this website">Accept</button>
    <!--googleon: all-->
</aside>

<!--TYPO3SEARCH_begin-->

<main class="wrapper">





  <section class="hero-slider" data-enhancer="heroSlider">

    <div class="hero-slider__inner">

         <ul>
            <li>
               <figure>
                 <img
      src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/Homepage/Featured/largest_cleanup.jpg"
      srcset="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/Homepage/Featured/largest_cleanup_640.jpg 640w,
      https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/Homepage/Featured/largest_cleanup_1024.jpg 1024w,
      https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/Homepage/Featured/largest_cleanup_1440.jpg 1440w,
      https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/Homepage/Featured/largest_cleanup_1920.jpg 1920w,
      https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/Homepage/Featured/largest_cleanup_2560.jpg 2560w"
      data-enhancer="objectFit"/>
              </figure>

              <div class="hero-slider__item-inner">
                <div class="hero-slider__item-content-wrapper">
                  <div class="hero-slider__item-content">
                    <h1 class="block-title block-title--left">THE LARGEST CLEANUP IN HISTORY</h1>

                    <!-- LIVE BUTTON:
                    <!--div class="button-set">
                                <a class="button button--alert" href="https://www.theoceancleanup.com/system001/">Watch Live</a>
                                <span class="live-dot" data-enhancer="liveDot"></span>

                            </div-->

                    <!-- REPLAY BUTTON:
                    <!--div class="button-set">

                                <a class="button button--primary" href="/system001/">Replay</a>
                                <span class="live-dot live-dot--replay" data-enhancer="liveDot"></span>
                            </div-->
                  </div>
                </div>
              </div>
            </li>
     <!--

            <li>
              <figure class="csc-textpic-image csc-textpic-last">
                <img src="/fileadmin/media-archive/img/Pages/Homepage/next-milestone/Road-t-cleanup__2018--1920.jpg"
                srcset="/fileadmin/media-archive/img/Pages/Homepage/next-milestone/Road-t-cleanup__2018--640.jpg 640w,
                /fileadmin/media-archive/img/Pages/Homepage/next-milestone/Road-t-cleanup__2018--1024.jpg 1024w,
                /fileadmin/media-archive/img/Pages/Homepage/next-milestone/Road-t-cleanup__2018--1440.jpg 1440w,
                /fileadmin/media-archive/img/Pages/Homepage/next-milestone/Road-t-cleanup__2018--1920.jpg 1920w" alt="" data-enhancer="objectFit"/>
              </figure>
     -->
<li>
     <figure class="csc-textpic-image csc-textpic-last">
                <img src="/fileadmin/media-archive/img/Pages/Homepage/next-milestone/Road-t-cleanup__2018--1920.jpg"
                srcset="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/Homepage/next-milestone/Road-t-cleanup__2018--640.jpg 640w,
                /fileadmin/media-archive/img/Pages/Homepage/next-milestone/Road-t-cleanup__2018--1024.jpg 1024w,
                /fileadmin/media-archive/img/Pages/Homepage/next-milestone/Road-t-cleanup__2018--1440.jpg 1440w,
                /fileadmin/media-archive/img/Pages/Homepage/next-milestone/Road-t-cleanup__2018--2560.jpg 1920w" alt="" data-enhancer="objectFit"/>
              </figure>

              <div class="hero-slider__item-inner">
                <div class="hero-slider__item-content-wrapper">
                  <div class="hero-slider__item-content">
                    <h1 class="block-title block-title--left"><span>Launching</span>System 001</h1>
                            <div class="button-set">
                                <a class="button button--primary" href="/system001/">Watch again</a>
                                <a class="button button--primary" href="/milestones/road-to-the-cleanup/">Timeline</a>
                            </div>
                  </div>
                </div>
              </div>
            </li>
        </ul>
-->

    </div>

  </section>



  <section class="center-block center-block--large center-block--white center-block--@@margin">

    <div class="center-block__inner">

      <h2 class="block-title">

        <div id="c683" class="csc-default"><p>OVER 5 TRILLION PIECES OF PLASTIC CURRENTLY LITTER THE OCEAN</p></div>

      </h2>

      <div id="c684" class="csc-default"><p>Trash accumulates in 5 ocean garbage patches, the largest one being the <a href="great-pacific-garbage-patch/" target="_top" class="internal-link">Great Pacific Garbage Patch</a>, located between Hawaii and California. If left to circulate, the plastic will impact our ecosystems, health and economies. Solving it requires a combination of closing the source, and cleaning up what has already accumulated in the ocean.</p></div>

    </div>

  </section>



  <section class="split-title-block split-title-block--secondary split-title-block--@@margin">

    <div class="split-title-block__inner">

      <h2>

        <div id="c687" class="csc-default">Technology</div>

      </h2>

      <div class="split-title-block__body">

        <div id="c688" class="csc-default"><p>The Ocean Cleanup develops advanced technologies to rid the world's oceans of plastic. A full-scale deployment of our systems is estimated to clean up 50 % of the Great Pacific Garbage Patch every 5 years.</p>
<p><a href="/technology" class="button button--primary">Learn more</a></p></div>

      </div>

    </div>

  </section>

  <section class="media-tabs" data-handler="mediaTabs">

    <figure>
	<img src="typo3temp/_processed_/csm_TOC_Computer_Renderings_Profileview_2942c52c93.jpg"
	data-panel-id="panel1"
	aria-hidden="false"
	srcset="https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_Profileview_79de434339.jpg 640w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_Profileview_4eeebfa510.jpg 1024w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_Profileview_2942c52c93.jpg 1440w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_Profileview_db07910fe1.jpg 1920w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_Profileview_834e93497c.jpg 2560w" />
<img src="https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_close-up_555097c167.jpg"
	data-panel-id="panel2"
	aria-hidden="true"
	srcset="https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_close-up_1d156d4ff2.jpg 640w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_close-up_b020d3ebaf.jpg 1024w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_close-up_555097c167.jpg 1440w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_close-up_4ddd1cf650.jpg 1920w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOC_Computer_Renderings_close-up_b4ec34eacb.jpg 2560w" />
<img src="https://www.theoceancleanup.com/typo3temp/_processed_/csm_homepage-fleet_66fbe9d28d.jpg"
	data-panel-id="panel3"
	aria-hidden="true"
	srcset="https://www.theoceancleanup.com/typo3temp/_processed_/csm_homepage-fleet_5d61089211.jpg 640w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_homepage-fleet_dd008723de.jpg 1024w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_homepage-fleet_66fbe9d28d.jpg 1440w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_homepage-fleet_19ce8a7274.jpg 1920w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_homepage-fleet_de01f98d75.jpg 2560w" />
<img src="https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOCshipSanFranciscoReturn_8f9da22bec.jpg"
	data-panel-id="panel4"
	aria-hidden="true"
	srcset="https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOCshipSanFranciscoReturn_1d42483d6e.jpg 640w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOCshipSanFranciscoReturn_eba0f0502f.jpg 1024w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOCshipSanFranciscoReturn_8f9da22bec.jpg 1440w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOCshipSanFranciscoReturn_0e82a79f98.jpg 1920w,
			https://www.theoceancleanup.com/typo3temp/_processed_/csm_TOCshipSanFranciscoReturn_ca7a5c911a.jpg 2560w" />
</figure>
<ul class="media-tabs__tab-list" role="tablist">
	<li role="presentation" class="tab-13">
	<a href="/#panel1" id="tab1" aria-controls="panel1" role="tab" aria-selected="true">Ocean currents</a>
</li>
<li role="presentation" class="tab-11">
	<a href="/#panel2" id="tab2" aria-controls="panel2" role="tab" aria-selected="false">Our solution</a>
</li>
<li role="presentation" class="tab-12">
	<a href="/#panel3" id="tab3" aria-controls="panel3" role="tab" aria-selected="false">Our fleet</a>
</li>
<li role="presentation" class="tab-10">
	<a href="/#panel4" id="tab4" aria-controls="panel4" role="tab" aria-selected="false">Recycling</a>
</li>
</ul>
<div class="media-tabs__pane" role="tabpanel" id="panel1" aria-labelledby="tab1" aria-hidden="false">
	<div class="media-tabs__content">
		<h4>Ocean garbage patches are vast and dispersed</h4>
<p style="text-align: justify;">Ocean currents concentrate plastic in five areas in the world: the subtropical gyres, also known as the world&rsquo;s &quot;ocean garbage patches&quot;. Once in these patches, the plastic will not go away by itself. The challenge of cleaning up the gyres is the plastic pollution spreads across millions of square kilometers and travels in all directions. Covering this area using vessels and nets would take thousands of years and cost billions of dollars to complete. How can we use these ocean currents to our advantage?</p>
	</div>
	<img class="media-tabs__infographic" src="https://www.theoceancleanup.com/uploads/tx_webstocutabbedcontent/TOC_map-gyres-02.jpg"/>
</div>
<div class="media-tabs__pane" role="tabpanel" id="panel2" aria-labelledby="tab2" aria-hidden="true">
	<div class="media-tabs__content">
		<h4 style="text-align: left;">Take advantage of natural oceanic forces</h4>
<p style="text-align: justify;">The Ocean Cleanup is developing a passive system, using the natural oceanic forces to catch and concentrate the plastic. Both the plastic and system are being carried by the current.</p>
<p style="text-align: justify;">However, wind and waves propel only the system, as the floater sits just above the water surface, while the plastic is primarily just beneath it. The system thus moves faster than the plastic, allowing the plastic to be captured.</p>
	</div>
	<img class="media-tabs__infographic" src="uploads/tx_webstocutabbedcontent/TOC_illustration_systemcatchingplastic_wind.jpg"/>
</div>
<div class="media-tabs__pane" role="tabpanel" id="panel3" aria-labelledby="tab3" aria-hidden="true">
	<div class="media-tabs__content">
		<h4>To catch the plastic, act like the plastic</h4>
<p style="text-align: justify;">Waves, winds and currents make the plastic move in a certain manner. The same forces will act on our roaming systems, causing them to gravitate to&nbsp;the areas in the garbage patch with the highest concentration of plastic. &nbsp;</p>
<p style="text-align: justify;">The more cleanup systems released, the more plastic will be collected. Computation models show a full-scale deployment will lead to a 50 % reduction of the Great Pacific Garbage Patch in 5 years&rsquo; time.&nbsp;</p>
	</div>
	<img class="media-tabs__infographic" src="uploads/tx_webstocutabbedcontent/fleet-animation-50-low.gif"/>
</div>
<div class="media-tabs__pane" role="tabpanel" id="panel4" aria-labelledby="tab4" aria-hidden="true">
	<div class="media-tabs__content">
		<h4>Extract, ship, recycle</h4>
<p style="text-align: justify;">In parallel to developing technology to extract plastic from the ocean, we also investigate how we can reuse the material once it is back on shore. Initial work on ocean plastic recycling shows our material can be turned into high quality products. Imagine your next phone, chair, car bumper or sunglasses could be made from plastic retrieved from the Great Pacific Garbage Patch. By selling our branded material for reuse, we aim to eventually make the cleanup self-sustainable.</p>
	</div>
	<img class="media-tabs__infographic" src="uploads/tx_webstocutabbedcontent/TOC_illustration_recycle.png"/>
</div>

  </section>

  <section class="advantages-block">

    <div class="advantages-block__inner">

      <ul>

        <li>

          <div id="c689" class="csc-default"><svg role="img" data-icon="autonomous">
  <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg?v=1#autonomous"></use>
</svg>
<h3>Autonomous</h3>
<p>Algorithms help specify the optimal deployment locations, after which the systems roam the gyres autonomously. Real-time telemetry will allow us to monitor the condition, performance and trajectory of each system.</p></div>

        </li>

        <li>

          <div id="c690" class="csc-default"> <svg role="img" data-icon="energy-neutral">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#energy-neutral"></use>
          </svg>
          <h3>Energy neutral</h3>
          <p>Our systems fully rely on the natural ocean currents and do not require an external energy source to catch and concentrate the plastic. All electronics used, such as lights and AIS, will be powered by solar energy.</p></div>

        </li>

        <li>

          <div id="c691" class="csc-default"> <svg role="img" data-icon="scalable">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#scalable"></use>
          </svg>
          <h3>Scalable</h3>
          <p>By gradually adding systems to the gyre, we mitigate the need for full financing upfront. This gradual scale-up also allows us to learn from the field and continuously improve the technology along the way.</p></div>

        </li>

      </ul>

    </div>

  </section>



  <!-- new -->

  <section class="info-image-block ">

    <div class="info-image-block__inner">

      <div class="info-image-block__content">

        <h3 class="block-title block-title--left">

          THE IMPACT OF CLEANUP

        </h3>

        <p style="text-align: justify;">Our models indicate that a full-scale system roll-out could clean up 50% of the <a href="great-pacific-garbage-patch/" target="_top" class="internal-link">Great Pacific Garbage Patch</a> in 5 years.</p>
<p style="text-align: justify;">Research shows the majority of plastic by mass is currently in the larger debris. By removing the plastic while&nbsp;most of it is still large, we prevent it from breaking down into dangerous microplastics.</p>
<p style="text-align: justify;">Combining the cleanup with source reduction on land paves the road towards a plastic free ocean by 2050.</p>

      </div>

      <figure>
  <img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/Homepage/Concentration_microplastics.PNG" width="660" height="440"/>
  <figcaption>Concentration of microplastics with and without cleanup in the Great Pacific Garbage Patch.</figcaption>
</figure>



    </div>

  </section>





  <section class="split-title-block split-title-block--white split-title-block--glue">

    <div class="split-title-block__inner">

      <h2>

        <div id="c692" class="csc-default"> From concept to reality</div>

      </h2>

      <div class="split-title-block__body">

        <div id="c693" class="csc-default"><p>Recent milestones on the path to the cleanup.</p>
<a class="button" href="/milestones">All milestones</a></div>

      </div>

    </div>

  </section>

  <section class="article-block">

    <div class="article-block__inner">


<ul>

<li>
<article class="article-preview">
    <a href="milestones/aerial-expedition/" title="Aerial Expedition">
        <figure>
            <img src="typo3temp/_processed_/csm_TOC_AE_Aircraft_sunset2_286c71dd2f.jpg" width="530" height="397"   alt="" >
        </figure>
        <div class="article-preview__content">
            <h1>Aerial Expedition</h1>
            <span class="more-link">
            	<svg role="img" data-icon="link-arrow" title="@@title">
                	<use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#link-arrow"></use>
                </svg>
				Read more
            </span>
        </div>
	</a>
</article>
 </li>


<li>
<article class="article-preview">
    <a href="milestones/north-sea-prototype/" title="First North Sea Prototype">
        <figure>
            <img src="typo3temp/_processed_/csm_TOCPrototypeHD_new_821edaf232.jpg" width="530" height="397"   alt="" >
        </figure>
        <div class="article-preview__content">
            <h1>First North Sea Prototype</h1>
            <span class="more-link">
            	<svg role="img" data-icon="link-arrow" title="@@title">
                	<use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#link-arrow"></use>
                </svg>
				Read more
            </span>
        </div>
	</a>
</article>
 </li>


</ul>


    </div>

  </section>



  <section class="call-to-action-block">

    <div class="call-to-action-block__inner">

      <div class="call-to-action-block__part">



        <h2 class="block-title">Join the <br/>team</h2>
            <p>Contribute with your skills and build a clean future with us</p>
            <a class="button button--secondary" href="careers.html">Join the team</a>



      </div>

      <div class="call-to-action-block__part">



        <h2 class="block-title">Fund the cleanup</h2>
            <p>Help us move forward to full-scale deployment</p>
            <a class="button button--secondary" href="/fund">Donate</a>



      </div>

    </div>

  </section>

  <section class="quote-block">

    <div class="quote-block__inner">

      <div id="c694" class="csc-default"><ul data-enhancer="quoteSlider">
  <li><div class="quote-block__quote">&ldquo;One of the world&rsquo;s best inventions of 2015&rdquo;</div>TIME Magazine</li>
  <li><div class="quote-block__quote">&ldquo;The first real plan to try to clean things up.&rdquo;</div>NBC Nightly News</li>
  <li><div class="quote-block__quote">&ldquo;[The Ocean Cleanup’s] success could significantly reduce marine animal fatalities and enable numerous marine species […] to survive&rdquo;</div>Ocean Elders</li>
  <li><div class="quote-block__quote">&ldquo;An incredible proposal.&rdquo;</div>George Takei, Actor and Activist</li>
  <li><div class="quote-block__quote">&ldquo;A symbol of not only preaching, but also acting.&rdquo;</div>Neelie Kroes, Former European Commissioner</li>
  <li><div class="quote-block__quote">&ldquo;In order to keep 7.5 billion of us alive and prosperous and healthy it takes work and it takes initiative. [...] That's what The Ocean Cleanup is all about and we absolutely need their work.&rdquo;</div>Chris Hadfield, Astronaut - Commander of Expedition 35</li>
  <li><div class="quote-block__quote">&ldquo;What is interesting to see […] is that you are using nature to solve the mess we are doing on this planet.&rdquo;</div>André Borschberg, Co-founder of the Solar Impulse project</li>
  <li><div class="quote-block__quote">&ldquo;[...] there is no doubt that your efforts will truly have lasting, positive impact on our local and international communities.&rdquo;</div>Lieutenant Governor Gavin Newsom, State of California</li>
  <li><div class="quote-block__quote">&ldquo;Boyan Slat is inspiring people, organizations and governments to find solutions to the escalating threat of plastic debris in our oceans, while also serving as a reminder to us all that more work needs to be done [...]&rdquo;</div>Achim Steiner, UNEP Executive Director</li>
</ul></div>

    </div>

  </section>

  <section class="split-title-block split-title-block--white split-title-block--glue">

    <div class="split-title-block__inner">

      <h2>Partners</h2>

      <div class="split-title-block__body">

        <div id="c695" class="csc-default"><p><a href="partners/" target="_top" class="button">All our supporters</a></p></div>

      </div>

    </div>

  </section>

  <section class="logo-block">

    <div class="logo-block__inner">

      <ul><li><img class="responsive" style="float: none;" title="" src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_maersk-logo_7164e6df0a.jpg" alt="" width="242" height="138" /></li> <li><img class="responsive" style="float: none;" title="" src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_Boskalis_greyscale_43370900da.jpg" alt="" width="243" height="122" /></li> <li><img class="responsive" style="float: none;" title="" src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_latham_large_logo_8dbd8d334d.jpg" alt="" width="198" height="113" /></li> <li><img class="responsive" style="float: none;" title="" src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_Deloitte_logo_Grayscale_f13e9c06ac.jpg" alt="" width="196" height="98" /></li> <li><img class="responsive" style="float: none;" title="" src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_dbbw-home_c624494d7d.jpg" alt="" width="199" height="88" /></li> <li><img class="responsive" style="float: none;" title="" src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_LogoRijksoverheid_EN_Grayscale_52b9a55356.jpg" alt="" width="207" height="85" /></li> <li><img class="responsive" src="https://www.theoceancleanup.com/fileadmin/media-archive/img/Pages/Homepage/akzonobel-home-logo.jpg" alt="" width="243" height="120" style="" /></li></ul>

    </div>

  </section>

</main>

<!-- .wrapper -->

<!--TYPO3SEARCH_end-->

<!-- partials/footer: -->

<footer role="contentinfo">
  <aside class="follow-bar">
    <div class="follow-bar__inner">
      <div class="follow-bar__social">
        <div id="c65" class="csc-default"><h3>Follow us</h3>
        <ul>
          <li><a class="instagram_follow_link" href="https://www.instagram.com/theoceancleanup/" target="_blank">
            <svg role="img" data-icon="instagram">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#instagram"></use>
            </svg>
            <span>Follow us on Instagram</span> </a></li>
          <li><a class="facebook_follow_link" href="https://www.facebook.com/TheOceanCleanup/" target="_blank">
            <svg role="img" data-icon="facebook">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#facebook"></use>
            </svg>
            <span>Follow us on Facebook</span> </a></li>
          <li><a class="twitter_follow_link" href="https://twitter.com/theoceancleanup" target="_blank">
            <svg role="img" data-icon="twitter">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#twitter"></use>
            </svg>
            <span>Follow us on Twitter</span> </a></li>
          <li><a class="youtube_follow_link" href="https://www.youtube.com/TheOceanCleanup " target="_blank">
          <svg role="img" data-icon="youtube">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#youtube"></use></svg>

          <span>Follow us on YouTube</span>
        </a></li>
        <li><a class="linked_follow_link" href="https://www.linkedin.com/company/the-ocean-cleanup" target="_blank">
          <svg role="img" data-icon="linkedin">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#linkedin"></use></svg>

          <span>Connect with us on LinkedIn</span>
        </a></li>
        </ul></div>
      </div>
      <div class="follow-bar__newsletter">
        <h6>Newsletter</h6>
<form data-enhancer="newsletterForm" action="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/t3ext/mailchimp_process.php" method="post" validate>
  <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required aria-label="Your e-mail address"/>
  <button type="submit" aria-label="Subscribe to our newsletter">
    <svg role="img" data-icon="mail" title="Subscribe">
      <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#mail"></use>
    </svg>
    <span>Subscribe</span> </button>
  <div class="follow-bar__newsletter-status js-newsletter-status" aria-hidden="true"></div>
</form>


      </div>
    </div>
  </aside>
  <nav class="footer-nav" role="navigation">
    <div class="footer-nav__inner">
      <div class="footer-nav__part">
        <h6>The Ocean Cleanup</h6><ul><li><a href="technology/" target="_top" class="internal-link">Technology</a></li> <li><a href="system001/" target="_top" class="internal-link">System 001</a></li> <li><a href="milestones/" target="_top">Milestones</a></li> <li><a href="updates/" target="_top" class="internal-link">Updates</a></li> <li><a href="scientific-publications/" target="_top">Scientific publications</a></li> <li><a href="great-pacific-garbage-patch/" target="_top" class="internal-link">Great Pacific Garbage Patch</a></li> <li><a href="sources/" target="_top">Plastic Sources</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>About us</h6><ul><li><a href="careers/" target="_top" class="internal-link">Careers</a></li> <li><a href="about/" target="_top" class="internal-link">About</a></li> <li><a href="press/" target="_top" class="internal-link">Press</a></li> <li><a href="https://www.theoceancleanup.com/media-gallery/" target="_blank">Media gallery</a></li> <li><a href="partners/" target="_top" class="internal-link">Partners</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Help</h6><ul><li><a href="support/" target="_top" class="internal-link">Support</a></li> <li><a href="shop/" target="_top" class="internal-link">Shop</a></li> <li><a href="faq/" target="_top" class="internal-link">FAQ</a></li> <li><a href="contact/" target="_top" class="internal-link">Contact</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Legal</h6><ul><li><a href="privacy-and-cookie-notice/" target="_top" class="internal-link">Privacy &amp; cookie notice</a></li> <li><a href="support/donation-terms-and-conditions/" target="_top" class="internal-link">Donations terms &amp; conditions</a></li> <li><a href="disclaimer/" target="_top" class="internal-link">Disclaimer</a></li> <li><a href="foundation-details/" target="_top" class="internal-link">Foundation details</a></li> <li><a href="the-ocean-cleanup-north-pacific-foundation/" target="_top" class="internal-link">The Ocean Cleanup North Pacific Foundation</a></li></ul>
      </div>
    </div>
    <div class="footer-nav__copyright">&copy; 2018 The Ocean Cleanup. All rights reserved.
<br>This site is hosted by Greenhost.</div>
  </nav>
</footer>
<script>
	/**
	 * Prevent loading of iframes, lazyload them later
	 */
	var iframes = document.getElementsByTagName('iframe');
	for (var i = 0; i < iframes.length; i++) {
		var src = iframes[i].src;
		iframes[i].src = '';
		iframes[i].setAttribute('data-src', src);
	}
</script>

<script src="typo3temp/javascript_bd4d1f63e4.js?1481036357" type="text/javascript"></script>


</body>
</html>
