
<aside class="cookie-bar js-cookie-bar" data-enhancer="cookieBar" role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookie-bar-description" aria-hidden="true">
    <!--googleoff: all-->
    <p id="cookie-bar-description">This site makes use of third-party cookies for analytics. By continuing to use the site, you accept the use of cookies. <a href="https://www.theoceancleanup.com/privacy-and-cookie-notice/" target="_blank">Read more</a></p>
    <button class="button button--secondary button--small" data-handler="cookieBarAccept"  aria-label="Accept the use of cookies on this website">Accept</button>
    <!--googleon: all-->
</aside>
<!--TYPO3SEARCH_begin-->

<main class="wrapper">
  <header class="page-title">
    <div class="page-title__inner">
      <div class="page-title__content">
        <h1 class="block-title block-title--left">
           Press
        </h1>
        <p><font color="white">For press inquiries please email <a href="mailto:press@theoceancleanup.com">press@theoceancleanup.com</a>. <br>Our PR agency is <a href="http://cffcommunications.nl/en/ " target="_blank">CFF Communications</a>.<br>For footage, see our <a href="https://www.theoceancleanup.com/media-gallery/" target="_blank">media gallery</a>. <br>For our published articles, see our <a href="https://www.theoceancleanup.com/scientific-publications/" target="_blank">scientific publications</a> page.</font><p>
      </div>
    </div>
  </header>
  <section class="center-block center-block--@@size center-block--white center-block--glue">
    <div class="center-block__inner">
      <h2 class="block-title">
         Press releases
      </h2>
    </div>
  </section>
  <section class="date-link-block">
    <div class="date-link-block__inner">
      <div id="c222" class="col-1-1 responsive"><div class="innercontent">
  <ul>


    <li>
      <span> 8 September 2018</span>
      <a href="press/the-worlds-first-ocean-cleanup-system-launched-from-san-francisco/" title="The World’s First Ocean Cleanup System Launched from San Francisco">The World’s First Ocean Cleanup System Launched from San Francisco</a>
    </li>




    <li>
      <span>22 March 2018</span>
      <a href="press/great-pacific-garbage-patch-growing-rapidly-study-shows/" title="Great Pacific Garbage Patch Growing Rapidly, Study Shows">Great Pacific Garbage Patch Growing Rapidly, Study Shows</a>
    </li>




    <li>
      <span>21 December 2017</span>
      <a href="press/research-shows-how-plastic-at-sea-turns-into-toxic-fish-food/" title="Research Shows How Plastic at Sea Turns into Toxic Fish Food">Research Shows How Plastic at Sea Turns into Toxic Fish Food</a>
    </li>




    <li>
      <span> 7 June 2017</span>
      <a href="press/first-estimate-to-quantify-global-plastic-input-from-rivers-into-oceans/" title="First Estimate to Quantify Global Plastic Input from Rivers into Oceans">First Estimate to Quantify Global Plastic Input from Rivers into Oceans</a>
    </li>




    <li>
      <span>11 May 2017</span>
      <a href="press/the-ocean-cleanup-announces-pacific-cleanup-to-start-in-2018/" title="The Ocean Cleanup Announces Pacific Cleanup to Start in 2018">The Ocean Cleanup Announces Pacific Cleanup to Start in 2018</a>
    </li>



  </ul>
  <!--button class="button button--primary" data-handler="listExpander">View all press releases</button-->


</div></div><div id="c257" class="col-1-1 responsive"><div class="innercontent">
  <ul aria-hidden="true" style="border-top: 1px solid #eaeaea;">


    <li>
      <span> 3 May 2017</span>
      <a href="press/the-ocean-cleanup-raises-217-million-usd-in-donations-to-start-pacific-cleanup-trials-1/" title="The Ocean Cleanup Raises 21.7 Million USD in Donations to Start Pacific Cleanup Trials">The Ocean Cleanup Raises 21.7 Million USD in Donations to Start Pacific Cleanup Trials</a>
    </li>




    <li>
      <span> 3 October 2016</span>
      <a href="press/ocean-plastic-pollution-worse-than-expected/" title="Ocean Plastic Pollution Worse Than Expected">Ocean Plastic Pollution Worse Than Expected</a>
    </li>




    <li>
      <span>22 June 2016</span>
      <a href="press/the-ocean-cleanup-unveils-first-prototype/" title="The Ocean Cleanup Unveils First Prototype">The Ocean Cleanup Unveils First Prototype</a>
    </li>




    <li>
      <span> 8 June 2016</span>
      <a href="press/the-ocean-cleanup-secures-full-funding-for-prototype/" title="The Ocean Cleanup Secures Full Funding For Prototype">The Ocean Cleanup Secures Full Funding For Prototype</a>
    </li>




    <li>
      <span>23 August 2015</span>
      <a href="press/the-ocean-cleanup-prepares-for-2020-pacific-cleanup-successfully-completes-mega-expedition-reconnaissance-mission-1/" title="The Ocean Cleanup Prepares For 2020 Pacific Cleanup, Successfully Completes Mega Expedition Reconnaissance Mission">The Ocean Cleanup Prepares For 2020 Pacific Cleanup, Successfully Completes Mega Expedition Reconnaissance Mission</a>
    </li>




    <li>
      <span>31 July 2015</span>
      <a href="press/the-ocean-cleanup-prepares-for-pacific-cleanup-embarks-on-largest-reasearch-expedition-in-history/" title="The Ocean Cleanup Prepares For Pacific Cleanup, Embarks On Largest Reasearch Expedition In History">The Ocean Cleanup Prepares For Pacific Cleanup, Embarks On Largest Reasearch Expedition In History</a>
    </li>




    <li>
      <span>20 June 2015</span>
      <a href="press/worlds-first-ocean-cleaning-system-to-be-deployed-in-2016/" title="World's First Ocean Cleaning System To Be Deployed In 2016">World's First Ocean Cleaning System To Be Deployed In 2016</a>
    </li>




    <li>
      <span>20 April 2015</span>
      <a href="press/the-ocean-cleanup-launches-mega-expedition/" title="The Ocean Cleanup Launches Mega Expedition">The Ocean Cleanup Launches Mega Expedition</a>
    </li>




    <li>
      <span>15 September 2014</span>
      <a href="press/crowd-funding-campaign-the-ocean-cleanup-successfully-completed/" title="Crowd Funding Campaign The Ocean Cleanup Successfully Completed">Crowd Funding Campaign The Ocean Cleanup Successfully Completed</a>
    </li>




    <li>
      <span> 3 June 2014</span>
      <a href="press/19-year-old-invents-feasibile-solution-to-cleanup-ocean-garbage-patches/" title="19-Year-Old Invents Feasibile Solution To Cleanup Ocean Garbage Patches">19-Year-Old Invents Feasibile Solution To Cleanup Ocean Garbage Patches</a>
    </li>



  </ul>
  <button class="button button--primary" data-handler="listExpander">View all press releases</button>



</div></div>
    </div>
  </section>

  <section class="
    center-block
    center-block--@@size
    center-block--white
    center-block--glue
    center-block--@@font-weight"
     id="@@id">
    <div class="center-block__inner">

            <h2 class="block-title"> Media gallery</h2>


            <p>A selection of high resolution material is available for editorial use. Please credit with ‘The Ocean Cleanup’ unless otherwise stated under the file.</p>


    </div>
</section>

<section class="media-gallery-block-old" data-enhancer="photoSwipe">
	<div class="media-gallery-block-old__inner">
		<!-- content -->
		<div class="media-gallery">
<h3 class="media-gallery__title"> </h3>
<!-- images -->
<div class="media-gallery__items js-photoswipe-gallery">
<figure>
	<a href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/img-previews/System001_Launch/TOC-System001-Launch-Web-047.jpg" data-size="2000x1333" data-original-image="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/System001_Launch/TOC-System001-Launch-047.jpg" target="_blank" title="System 001 Launching from San Francisco, September 8. Credits: The Ocean Cleanup / Pierre Augier">
		<img src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_TOC-System001-Launch-Web-047_ae61d665fa.jpg"/>
	</a>
	<figcaption>System 001 Launching from San Francisco, September 8. The Ocean Cleanup / Pierre Augier</figcaption>
	<a class="media-gallery__item-download js-download-link" href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/System001_Launch/TOC-System001-Launch-047.jpg" target="_blank" download title="Download image">
		<svg role="img" data-icon="download"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#download"></use></svg>
	</a>
</figure>
<figure>
	<a href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/img-previews/System001_Launch/180827_Stabilizers_Assembly_and_Fully_Launched_System-25.jpg" data-size="3960x2640" data-original-image="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/System001_Launch/180827_Stabilizers_Assembly_and_Fully_Launched_System-1.jpg" target="_blank" title="System 001 Fully Launched into the Seaplane Lagoon, at the Alameda Assembly Yard, August 2018. ">
		<img src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_180827_Stabilizers_Assembly_and_Fully_Launched_System-25_ebb78a117b.jpg"/>
	</a>
	<figcaption>System 001 Fully Launched into the Seaplane Lagoon, at the Alameda Assembly Yard, August 2018</figcaption>
	<a class="media-gallery__item-download js-download-link" href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/System001_Launch/180827_Stabilizers_Assembly_and_Fully_Launched_System-1.jpg" target="_blank" download title="Download image">
		<svg role="img" data-icon="download"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#download"></use></svg>
	</a>
</figure>
<figure>
	<a href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/img-previews/Boyan_Slat/004-The_Ocean_Cleanup-The_Next_Phase-Press-Images-LowRes.jpg" data-size="2048x1365" data-original-image="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/Boyan_Slat/004-The_Ocean_Cleanup-The_Next_Phase-Press-Images-HD.jpg" target="_blank" title="Boyan Slat, The Ocean Cleanup Founder & CEO ">
		<img src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_004-The_Ocean_Cleanup-The_Next_Phase-Press-Images-LowRes_9066f14848.jpg"/>
	</a>
	<figcaption>Boyan Slat, The Ocean Cleanup Founder & CEO </figcaption>
	<a class="media-gallery__item-download js-download-link" href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/Boyan_Slat/004-The_Ocean_Cleanup-The_Next_Phase-Press-Images-HD.jpg" target="_blank" download title="Download image">
		<svg role="img" data-icon="download"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#download"></use></svg>
	</a>
</figure>
<figure>
	<a href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/img-previews/GPGP/Photos/Mega-Expedition-Ghostnets-4_low.jpg" data-size="1125x1500" data-original-image="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/GPGP/Photos/Mega-Expedition-Ghostnets-4.jpg" target="_blank" title="Mega Expedition mothership R/V Ocean Starr crew pulling a ghost net from the Pacific Ocean, 2015.">
		<img src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_Mega-Expedition-Ghostnets-4_low_d7351be422.jpg"/>
	</a>
	<figcaption>Mega Expedition mothership R/V Ocean Starr crew pulling a ghost net from the Pacific Ocean, 2015.</figcaption>
	<a class="media-gallery__item-download js-download-link" href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/GPGP/Photos/Mega-Expedition-Ghostnets-4.jpg" target="_blank" download title="Download image">
		<svg role="img" data-icon="download"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#download"></use></svg>
	</a>
</figure>
<figure>
	<a href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/img-previews/GPGP/Photos/Mega-Expedition-Plastic-Samples-5_low.jpg" data-size="1500x1125" data-original-image="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/GPGP/Photos/Mega-Expedition-Plastic-Samples-5.jpg" target="_blank" title="Plastic samples collected during the Mega Expedition, 2015.">
		<img src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_Mega-Expedition-Plastic-Samples-5_low_e8ac2dc2cc.jpg"/>
	</a>
	<figcaption>Plastic samples collected during the Mega Expedition, 2015.</figcaption>
	<a class="media-gallery__item-download js-download-link" href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/GPGP/Photos/Mega-Expedition-Plastic-Samples-5.jpg" target="_blank" download title="Download image">
		<svg role="img" data-icon="download"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#download"></use></svg>
	</a>
</figure>
<figure>
	<a href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/img-previews/Aerial_Expedition/TOC_AE_02.jpg" data-size="1920x1280" data-original-image="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/Aerial_Expedition/TOC_AE_02.jpg" target="_blank" title="Ocean Force One's arrival at Moffett Airfield in Mountain View, California">
		<img src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_TOC_AE_02_473cf46efd.jpg"/>
	</a>
	<figcaption>Ocean Force One's arrival at Moffett Airfield in Mountain View, California</figcaption>
	<a class="media-gallery__item-download js-download-link" href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/Aerial_Expedition/TOC_AE_02.jpg" target="_blank" download title="Download image">
		<svg role="img" data-icon="download"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#download"></use></svg>
	</a>
</figure>
<figure>
	<a href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/img-previews/Aerial_Expedition/TOC_AE_19.jpg" data-size="1920x1280" data-original-image="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/Aerial_Expedition/TOC_AE_19.jpg" target="_blank" title="Visual survey data logging by Aerial Expedition crew">
		<img src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_TOC_AE_19_290764a2e8.jpg"/>
	</a>
	<figcaption>Visual survey data logging by Aerial Expedition crew</figcaption>
	<a class="media-gallery__item-download js-download-link" href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/Aerial_Expedition/TOC_AE_19.jpg" target="_blank" download title="Download image">
		<svg role="img" data-icon="download"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#download"></use></svg>
	</a>
</figure>
<figure>
	<a href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/img-previews/The_Next_Phase/The_Ocean_Cleanup-The_Next_Phase-Press-Images-LoRes-Wide.jpg.jpeg" data-size="1920x1280" data-original-image="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/The_Next_Phase/The_Ocean_Cleanup-The_Next_Phase-Press-Images-HD-Wide.jpg.jpeg" target="_blank" title="The Ocean Cleanup Announces Pacific Cleanup to Start in 2018">
		<img src="https://www.theoceancleanup.com/fileadmin/_processed_/csm_The_Ocean_Cleanup-The_Next_Phase-Press-Images-LoRes-Wide.jpg_45cf69ab35.jpg"/>
	</a>
	<figcaption>The Ocean Cleanup Announces Pacific Cleanup to Start in 2018</figcaption>
	<a class="media-gallery__item-download js-download-link" href="https://www.theoceancleanup.com/fileadmin/media-archive/img/media-gallery/The_Next_Phase/The_Ocean_Cleanup-The_Next_Phase-Press-Images-HD-Wide.jpg.jpeg" target="_blank" download title="Download image">
		<svg role="img" data-icon="download"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#download"></use></svg>
	</a>
</figure>
</div>

				<!-- PhotoSwipe DOM primer; include once on pages where media-gallery is used -->
				<!-- PhotoSwipe DOM tree. @see: http://photoswipe.com/documentation/getting-started.html -->
				<!-- Root element of PhotoSwipe. Must have class pswp. -->
				<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

					<!-- Background of PhotoSwipe.
						 It's a separate element as animating opacity is faster than rgba(). -->
					<div class="pswp__bg"></div>

					<!-- Slides wrapper with overflow:hidden. -->
					<div class="pswp__scroll-wrap">

						<!-- Container that holds slides.
							PhotoSwipe keeps only 3 of them in the DOM to save memory.
							Don't modify these 3 pswp__item elements, data is added later on. -->
						<div class="pswp__container">
							<div class="pswp__item"></div>
							<div class="pswp__item"></div>
							<div class="pswp__item"></div>
						</div>

						<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
						<div class="pswp__ui pswp__ui--hidden">

							<div class="pswp__top-bar">

								<!--  Controls are self-explanatory. Order can be changed. -->
								<div class="pswp__counter"></div>
								<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
								<button class="pswp__button pswp__button--share" title="Share"></button>
								<a class="pswp__button pswp__button--download js-pswp-download" title="Download image" target="_blank" download></a>
								<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
								<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
								<!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
								<!-- element will get class pswp__preloaderactive when preloader is running -->
								<div class="pswp__preloader">
									<div class="pswp__preloader__icn">
									  <div class="pswp__preloader__cut">
										<div class="pswp__preloader__donut"></div>
									  </div>
									</div>
								</div>
							</div>

							<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
								<div class="pswp__share-tooltip"></div>
							</div>

							<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
							</button>

							<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
							</button>

							<div class="pswp__caption">
								<div class="pswp__caption__center"></div>
							</div>
						</div>
					</div>
				</div>
</div>
        <!-- more -->
		 <div class="button-set button-set--center">
   <a class="button button--primary" href="/media-gallery/">View full gallery</a>
   </div>
    </div>
</section>

<section class="twitter-block">
    <div class="twitter-block__inner">

    <div class="twitter-block__wrapper">
      <a
        class="twitter-timeline"
        data-enhancer="twitterFeed"
        data-screen-name="TheOceanCleanup"
        data-dnt="true"
        href="https://twitter.com/TheOceanCleanup"
        width="100%"
        data-chrome="noheader nofooter noscrollbar noborders"
        data-tweet-limit="false"
        data-link-color="#01CBE1">Tweets by @TheOceanCleanup</a>
    </div>

    <div class="button-set button-set--center">
      <a class="button button--white button--icon" href="https://twitter.com/TheOceanCleanup" target="_blank"><svg role="img" data-icon="twitter"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#twitter"></use></svg>
 @TheOceanCleanup</a>
      <a class="button button--white button--icon" href="https://twitter.com/BoyanSlat" target="_blank"><svg role="img" data-icon="twitter"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#twitter"></use></svg>
 @BoyanSlat</a>
    </div>

  </div>
  </section>

  <section class="center-block center-block--@@size center-block--white center-block--glue">
    <div class="center-block__inner">
      <h2 class="block-title">
         Media coverage
      </h2>
    </div>
  </section>
  <section class="date-link-block">
    <div class="date-link-block__inner">
      <div id="c241" class="col-1-1 responsive"><div class="innercontent">
  <ul>


    <li>
      <span>16 September 2018</span>
      <a href="https://www.businessinsider.nl/ocean-cleanup-remove-plastic-great-pacific-garbage-patch-2018-9/?international=true&amp;r=US" target="_top" title="What the creators of the giant plastic-cleaning system headed to the Great Pacific Garbage Patch say to critics who doubt them">What the creators of the giant plastic-cleaning system headed to the Great Pacific Garbage Patch say to critics who doubt them</a>
    </li>




    <li>
      <span>10 September 2018</span>
      <a href="https://www.businessinsider.nl/ocean-cleanup-great-pacific-garbage-patch-launch-2018-9/?international=true&amp;r=US" target="_top" title="The massive plastic-cleaning device invented by a 24-year-old is headed out to the Great Pacific Garbage Patch — here’s what the launch looked like">The massive plastic-cleaning device invented by a 24-year-old is headed out to the Great Pacific Garbage Patch — here’s what the launch looked like</a>
    </li>




    <li>
      <span>10 September 2018</span>
      <a href="https://www.cnet.com/videos/the-ocean-cleanup-launches-their-plastic-collecting-system/" target="_top" title="The Ocean Cleanup launches its plastic collecting system">The Ocean Cleanup launches its plastic collecting system</a>
    </li>




    <li>
      <span> 9 September 2018</span>
      <a href="https://eu.usatoday.com/story/tech/science/2018/09/09/ocean-cleanup-system-heading-great-pacific-garbage-patch/1243172002/" target="_top" title="It took 5 years, now the Ocean Cleanup system is heading to the Great Pacific Garbage Patch">It took 5 years, now the Ocean Cleanup system is heading to the Great Pacific Garbage Patch</a>
    </li>




    <li>
      <span> 7 September 2018</span>
      <a href="https://www.fastcompany.com/90232848/the-ocean-cleanup-vessel-is-on-its-way-to-clean-up-the-great-pacific-garbage-patch" target="_top" title="The Ocean Cleanup vessel is on its way to clean up the Great Pacific Garbage Patch">The Ocean Cleanup vessel is on its way to clean up the Great Pacific Garbage Patch</a>
    </li>



  </ul>
  <!--button class="button button--primary" data-handler="listExpander">View all press releases</button-->


</div></div><div id="c259" class="col-1-1 responsive"><div class="innercontent">
  <ul aria-hidden="true" style="border-top: 1px solid #eaeaea;">


    <li>
      <span> 7 September 2018</span>
      <a href="https://www.bbc.com/news/science-environment-45438736" target="_top" title="Giant plastic catcher heads for Pacific Ocean clean-up">Giant plastic catcher heads for Pacific Ocean clean-up</a>
    </li>




    <li>
      <span>28 August 2018</span>
      <a href="https://www.forbes.com/sites/jeffkart/2018/08/28/the-ocean-cleanup-is-starting-aims-to-cut-garbage-patch-by-90-by-2040/#48982af7253e" target="_top" title="The Ocean Cleanup Is Starting, Aims To Cut Garbage Patch By 90% By 2040">The Ocean Cleanup Is Starting, Aims To Cut Garbage Patch By 90% By 2040</a>
    </li>




    <li>
      <span>16 June 2018</span>
      <a href="https://www.bloomberg.com/news/videos/2018-06-15/the-nonprofit-startup-taking-on-the-great-pacific-garbage-patch-video" target="_top" title="The Nonprofit Startup Taking on 'The Great Pacific Garbage Patch'">The Nonprofit Startup Taking on 'The Great Pacific Garbage Patch'</a>
    </li>




    <li>
      <span>13 June 2018</span>
      <a href="https://www.nbcnews.com/news/world/young-dutch-inventor-wants-clean-plastic-ocean-can-he-do-n882486" target="_top" title="A young Dutch inventor wants to clean plastic from the ocean. Can he do it?">A young Dutch inventor wants to clean plastic from the ocean. Can he do it?</a>
    </li>




    <li>
      <span>20 April 2018</span>
      <a href="https://www.fastcompany.com/40560810/the-revolutionary-giant-ocean-cleanup-machine-is-about-to-set-sail" target="_top" title="The Revolutionary Giant Ocean Cleanup Machine Is About To Set Sail">The Revolutionary Giant Ocean Cleanup Machine Is About To Set Sail</a>
    </li>




    <li>
      <span>18 April 2018</span>
      <a href="http://sanfrancisco.cbslocal.com/2018/04/18/great-pacific-garbage-patch-clean-up/" target="_top" title="Plan To Clean Up Great Pacific Garbage Patch Nears Launch">Plan To Clean Up Great Pacific Garbage Patch Nears Launch</a>
    </li>




    <li>
      <span>22 March 2018</span>
      <a href="https://www.nytimes.com/2018/03/22/climate/great-pacific-garbage-patch.html" target="_top" title="The ‘Great Pacific Garbage Patch’ Is Ballooning, 87,000 Tons of Plastic and Counting">The ‘Great Pacific Garbage Patch’ Is Ballooning, 87,000 Tons of Plastic and Counting</a>
    </li>




    <li>
      <span>22 March 2018</span>
      <a href="https://www.theguardian.com/environment/2018/mar/22/great-pacific-garbage-patch-sprawling-with-far-more-debris-than-thought" target="_top" title="'Great Pacific garbage patch' sprawling with far more debris than thought"> 'Great Pacific garbage patch' sprawling with far more debris than thought</a>
    </li>




    <li>
      <span> 7 December 2017</span>
      <a href="https://www.elsevierweekblad.nl/nederland/achtergrond/2017/12/dit-is-de-nederlander-van-het-jaar-2017-566170/" target="_top" title="Dit is de Nederlander van het Jaar 2017">Dit is de Nederlander van het Jaar 2017</a>
    </li>




    <li>
      <span> 4 August 2017</span>
      <a href="http://www.telegraph.co.uk/news/2017/08/04/important-least-try-can-23-year-old-clear-oceans-plastic-waste" target="_blank" title="'It's important to at least try': Can this 23-year-old clear the oceans of plastic waste?">'It's important to at least try': Can this 23-year-old clear the oceans of plastic waste?</a>
    </li>




    <li>
      <span>28 June 2017</span>
      <a href="http://edition.cnn.com/videos/living/2017/06/26/ocean-cleanup-boyan-slat.cnn" target="_blank" title="Floating a new idea for garbage collection">Floating a new idea for garbage collection</a>
    </li>




    <li>
      <span>26 June 2017</span>
      <a href="http://www.bbc.co.uk/bbcthree/item/41ed0c9a-e295-4354-bffe-798fab6fed9a?fdd" target="_blank" title="A 22 year-old has a plan to clear the oceans of plastic">A 22 year-old has a plan to clear the oceans of plastic</a>
    </li>




    <li>
      <span>16 June 2017</span>
      <a href="https://www.outsideonline.com/2192866/we-just-dumped-11-million-pounds-plastic-ocean" target="_blank" title="We just dumped 11 million pounds of plastic in the ocean">We just dumped 11 million pounds of plastic in the ocean</a>
    </li>




    <li>
      <span>15 June 2017</span>
      <a href="http://elpais.com/elpais/2017/06/14/alterconsumismo/1497472096_458899.html" target="_blank" title="La mayor limpieza (del océano) de la historia">La mayor limpieza (del océano) de la historia</a>
    </li>




    <li>
      <span> 8 June 2017</span>
      <a href="http://www.dailymail.co.uk/sciencetech/article-4585526/Plastic-rivers-major-source-ocean-pollution-study.html" target="_blank" title="Rivers found to feed plastic to oceans in new study">Rivers found to feed plastic to oceans in new study</a>
    </li>




    <li>
      <span>16 May 2017</span>
      <a href="http://www.reuters.com/article/us-environment-plastic-idUSKCN18C1O6" target="_blank" title="Dutchman wants to deploy barriers to gather, recycle Pacific plastic">Dutchman wants to deploy barriers to gather, recycle Pacific plastic</a>
    </li>




    <li>
      <span>15 May 2017</span>
      <a href="http://www.bbc.co.uk/newsround/39921749" target="_blank" title="How do you clean up the ocean's biggest rubbish dump?">How do you clean up the ocean's biggest rubbish dump?</a>
    </li>




    <li>
      <span>12 May 2017</span>
      <a href="https://oglobo.globo.com/sociedade/ciencia/meio-ambiente/jovem-de-22-anos-apresenta-plano-para-tirar-plasticos-do-oceano-21330039" target="_blank" title="Jovem de 22 anos apresenta plano para tirar plásticos do oceano">Jovem de 22 anos apresenta plano para tirar plásticos do oceano</a>
    </li>




    <li>
      <span>11 May 2017</span>
      <a href="https://www.washingtonpost.com/world/europe/dutch-group-says-it-will-soon-start-cleaning-up-ocean-trash/2017/05/11/83e0b506-367a-11e7-ab03-aa29f656f13e_story.html" target="_blank" title="Dutch group says it will soon start cleaning up ocean trash">Dutch group says it will soon start cleaning up ocean trash</a>
    </li>




    <li>
      <span>11 May 2017</span>
      <a href="https://www.businessinsider.nl/boyan-slat-ocean-cleanup-launch-2018-2017-5/?international=true&amp;r=US" target="_blank" title="A 22-year-old is moving ahead with a controversial plan to trap plastic floating in the great Pacific garbage patch">A 22-year-old is moving ahead with a controversial plan to trap plastic floating in the great Pacific garbage patch</a>
    </li>




    <li>
      <span>11 May 2017</span>
      <a href="https://www.fastcompany.com/40419899/boy-genius-boyan-slats-giant-ocean-cleanup-machine-is-real" target="_blank" title="Boy Genius Boyan Slat's Giant Ocean Cleanup Machine is Real">Boy Genius Boyan Slat's Giant Ocean Cleanup Machine is Real</a>
    </li>




    <li>
      <span>11 May 2017</span>
      <a href="http://abc13.com/news/effort-to-clean-up-ocean-plastic-to-begin-in-the-next-12-months/1981933/" target="_blank" title="Effort to clean up ocean plastic to begin in the next 12 months">Effort to clean up ocean plastic to begin in the next 12 months</a>
    </li>




    <li>
      <span>22 April 2017</span>
      <a href="http://www.cnbc.com/2017/04/20/thiel-benioff-backing-22-year-olds-dream-to-clean-up-worlds-oceans.html" target="_blank" title="Why Peter Thiel believes in this 22-year-old's dream to clean up the oceans">Why Peter Thiel believes in this 22-year-old's dream to clean up the oceans</a>
    </li>




    <li>
      <span>31 January 2017</span>
      <a href="http://www.readersdigest.ca/features/rdi/european-year-boyan-slatan-wants-clean-oceans/" target="_blank" title="European of the Year: Boyan Slat Wants to Clean Up the Oceans">European of the Year: Boyan Slat Wants to Clean Up the Oceans</a>
    </li>




    <li>
      <span> 4 October 2016</span>
      <a href="https://www.theguardian.com/environment/2016/oct/04/great-pacific-garbage-patch-ocean-plastic-trash" target="_blank" title="'Great Pacific Garbage Patch' Far Bigger Than Imagined, Aerial Survey Shows">'Great Pacific Garbage Patch' Far Bigger Than Imagined, Aerial Survey Shows</a>
    </li>




    <li>
      <span> 3 October 2016</span>
      <a href="http://www.huffingtonpost.com/entry/great-pacific-garbage-patch-aerial-survey-ocean-cleanup_us_57f2c33be4b01b16aafe80a5?" target="_blank" title="The Great Pacific Garbage Patch Is Even Worse Than We Feared">The Great Pacific Garbage Patch Is Even Worse Than We Feared</a>
    </li>




    <li>
      <span> 3 October 2016</span>
      <a href="http://abc7news.com/science/bay-area-researchers-aim-to-clean-great-pacific-garbage-patch/1537723/" target="_blank" title="Researchers At Moffett Field Aim To Clean Great Pacfic Garbage Patch">Researchers At Moffett Field Aim To Clean Great Pacfic Garbage Patch</a>
    </li>




    <li>
      <span>18 August 2016</span>
      <a href="http://www.usatoday.com/story/news/world/2016/08/18/meet-guy-trying-clean-up-great-pacific-garbage-patch/88938108/" target="_blank" title="Meet The Guy Trying To Clean Up The Great Pacific Garbage Patch">Meet The Guy Trying To Clean Up The Great Pacific Garbage Patch</a>
    </li>




    <li>
      <span>14 August 2016</span>
      <a href="http://www.pbs.org/newshour/bb/can-project-clean-millions-tons-ocean-plastic/" target="_blank" title="Can This Project Clean Up Millions Of Tons Of Ocean Plastic?">Can This Project Clean Up Millions Of Tons Of Ocean Plastic?</a>
    </li>




    <li>
      <span> 8 July 2016</span>
      <a href="http://www.cbc.ca/radio/day6/episode-293-police-violence-milos-super-serve-cleaning-up-the-oceans-busting-the-ghostbusters-and-more-1.3668491/21-year-old-boyan-slat-wants-to-rid-the-world-s-oceans-of-plastic-1.3668499" target="_blank" title="21-year-old Boyan Slat Wants To Rid The World's Oceans Of Plastic">21-year-old Boyan Slat Wants To Rid The World's Oceans Of Plastic</a>
    </li>




    <li>
      <span> 5 July 2016</span>
      <a href="http://www.wallstreetdaily.com/2016/07/05/ocean-trash-cleanup-boomy-mcboomface/" target="_blank" title="Ocean Trash Cleanup Test Underway">Ocean Trash Cleanup Test Underway</a>
    </li>




    <li>
      <span>23 June 2016</span>
      <a href="https://espresso.economist.com/351869bde8b9d6ad1e3090bd173f600d" target="_blank" title="Garbage In, Garbage Out: Marine Plastic">Garbage In, Garbage Out: Marine Plastic</a>
    </li>




    <li>
      <span>22 June 2016</span>
      <a href="https://www.theguardian.com/environment/2016/jun/22/dutch-prototype-clean-up-boom-brings-pacific-plastics-solution-a-step-closer" target="_blank" title="Dutch Prototype Clean-up Boom Brings Pacific Plastics Solution a Step Closer">Dutch Prototype Clean-up Boom Brings Pacific Plastics Solution a Step Closer</a>
    </li>




    <li>
      <span>22 June 2016</span>
      <a href="http://nos.nl/artikel/2112751-prototype-inzamelmachine-voor-plasticsoep-de-noordzee-in.html" target="_blank" title="Prototype Inzamelmachine Voor Plasticsoep De Noordzee In">Prototype Inzamelmachine Voor Plasticsoep De Noordzee In</a>
    </li>




    <li>
      <span>14 June 2016</span>
      <a href="http://elpaissemanal.elpais.com/documentos/contaminacion-marina/" target="_blank" title="Océanos de plástico">Océanos de plástico</a>
    </li>




    <li>
      <span>14 June 2016</span>
      <a href="http://www.huffingtonpost.com/carol-pierson-holding/passiondriven-innovation-_b_10455594.html" target="_blank" title="Passion-driven Innovation to Save Our Oceans">Passion-driven Innovation to Save Our Oceans</a>
    </li>




    <li>
      <span> 9 June 2016</span>
      <a href="http://www.thetimes.co.uk/article/sea-cleaning-dam-stretches-its-arms-tpj79zv3d" target="_blank" title="Sea-cleaning dam stretches its arms">Sea-cleaning dam stretches its arms</a>
    </li>




    <li>
      <span> 8 June 2016</span>
      <a href="http://www.huffingtonpost.com/entry/boyan-slat-ocean-clean-up-prototype-test-north-sea_us_5756fc1fe4b0b60682df0c90" target="_blank" title="21-Year-Old’s Miracle Ocean-Cleaning Tech Ready To Get Its Feet Wet">21-Year-Old’s Miracle Ocean-Cleaning Tech Ready To Get Its Feet Wet</a>
    </li>




    <li>
      <span>13 May 2016</span>
      <a href="http://inhabitat.com/plastic-scooping-ocean-cleanup-project-wins-prestigious-katerva-award/" target="_blank" title="Plastic-scooping Ocean Cleanup project wins prestigious Katerva Award">Plastic-scooping Ocean Cleanup project wins prestigious Katerva Award</a>
    </li>




    <li>
      <span>11 February 2016</span>
      <a href="https://www.facebook.com/HuffPost/videos/10153666021071130/" target="_blank" title="The Largest Ocean Cleanup In History Will Begin By 2020, And A 21-year-old Is Leading The Way.">The Largest Ocean Cleanup In History Will Begin By 2020, And A 21-year-old Is Leading The Way.</a>
    </li>




    <li>
      <span> 2 February 2016</span>
      <a href="http://www.smh.com.au/environment/boyan-slats-high-school-project-raises-millions-to-clean-up-worlds-oceans-20160201-gmj8dq.html" target="_blank" title="Boyan Slat's high school project raises millions to clean up world's oceans">Boyan Slat's high school project raises millions to clean up world's oceans</a>
    </li>




    <li>
      <span> 1 February 2016</span>
      <a href="https://www.washingtonpost.com/news/inspired-life/wp/2016/02/01/can-the-largest-cleanup-in-history-save-the-ocean/" target="_blank" title="Can the ‘largest cleanup in history’ save the ocean?">Can the ‘largest cleanup in history’ save the ocean?</a>
    </li>




    <li>
      <span>31 December 2015</span>
      <a href="http://inhabitat.com/ocean-cleanup-array-to-be-tested-in-the-north-sea-next-year/" target="_blank" title="Ocean Cleanup Array to be tested in the North Sea next year">Ocean Cleanup Array to be tested in the North Sea next year</a>
    </li>




    <li>
      <span>13 November 2015</span>
      <a href="https://www.theguardian.com/environment/2015/nov/13/worlds-largest-ocean-cleanup-operation-one-step-closer-to-launch" target="_blank" title="World’s largest ocean cleanup operation one step closer to launch">World’s largest ocean cleanup operation one step closer to launch</a>
    </li>




    <li>
      <span>24 August 2015</span>
      <a href="http://www.reuters.com/article/us-usa-california-plastic-idUSKCN0QT0CR20150824" target="_blank" title="Researchers sample enormous oceanic trash vortex ahead of clean-up proposal">Researchers sample enormous oceanic trash vortex ahead of clean-up proposal</a>
    </li>




    <li>
      <span>24 August 2015</span>
      <a href="http://www.cbsnews.com/news/mega-expedition-returns-from-great-pacific-garbage-patch/" target="_blank" title="Mega Expedition returns from Great Pacific Garbage Patch">Mega Expedition returns from Great Pacific Garbage Patch</a>
    </li>




    <li>
      <span>24 August 2015</span>
      <a href="http://ecowatch.com/2015/08/24/boyan-slat-the-ocean-clean-up/" target="_blank" title="Boyan Slat’s ‘Mega Expedition’ Shows ‘Our Oceans Are Riddled With Plastic’">Boyan Slat’s ‘Mega Expedition’ Shows ‘Our Oceans Are Riddled With Plastic’</a>
    </li>




    <li>
      <span>29 May 2015</span>
      <a href="http://america.aljazeera.com/articles/2015/5/29/first-ocean-cleanup-system-to-be-deployed.html" target="_blank" title="World's first ocean system targeting plastic pollution to launch in 2016">World's first ocean system targeting plastic pollution to launch in 2016</a>
    </li>



  </ul>
  <button class="button button--primary" data-handler="listExpander">View full media coverage</button>


</div></div>
    </div>
  </section>
</main>
<!-- .wrapper -->
<!--TYPO3SEARCH_end-->
<!-- partials/footer: -->

<footer role="contentinfo">
  <aside class="follow-bar">
    <div class="follow-bar__inner">
      <div class="follow-bar__social">
        <div id="c65" class="csc-default"><h3>Follow us</h3>
        <ul>
          <li><a class="instagram_follow_link" href="https://www.instagram.com/theoceancleanup/" target="_blank">
            <svg role="img" data-icon="instagram">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#instagram"></use>
            </svg>
            <span>Follow us on Instagram</span> </a></li>
          <li><a class="facebook_follow_link" href="https://www.facebook.com/TheOceanCleanup/" target="_blank">
            <svg role="img" data-icon="facebook">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#facebook"></use>
            </svg>
            <span>Follow us on Facebook</span> </a></li>
          <li><a class="twitter_follow_link" href="https://twitter.com/theoceancleanup" target="_blank">
            <svg role="img" data-icon="twitter">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#twitter"></use>
            </svg>
            <span>Follow us on Twitter</span> </a></li>
          <li><a class="youtube_follow_link" href="https://www.youtube.com/TheOceanCleanup " target="_blank">
          <svg role="img" data-icon="youtube">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#youtube"></use></svg>

          <span>Follow us on YouTube</span>
        </a></li>
        <li><a class="linked_follow_link" href="https://www.linkedin.com/company/the-ocean-cleanup" target="_blank">
          <svg role="img" data-icon="linkedin">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#linkedin"></use></svg>

          <span>Connect with us on LinkedIn</span>
        </a></li>
        </ul></div>
      </div>
      <div class="follow-bar__newsletter">
        <h6>Newsletter</h6>
<form data-enhancer="newsletterForm" action="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/t3ext/mailchimp_process.php" method="post" validate>
  <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required aria-label="Your e-mail address"/>
  <button type="submit" aria-label="Subscribe to our newsletter">
    <svg role="img" data-icon="mail" title="Subscribe">
      <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#mail"></use>
    </svg>
    <span>Subscribe</span> </button>
  <div class="follow-bar__newsletter-status js-newsletter-status" aria-hidden="true"></div>
</form>


      </div>
    </div>
  </aside>
  <nav class="footer-nav" role="navigation">
    <div class="footer-nav__inner">
      <div class="footer-nav__part">
        <h6>The Ocean Cleanup</h6><ul><li><a href="technology/" target="_top" class="internal-link">Technology</a></li> <li><a href="system001/" target="_top" class="internal-link">System 001</a></li> <li><a href="milestones/" target="_top">Milestones</a></li> <li><a href="updates/" target="_top" class="internal-link">Updates</a></li> <li><a href="scientific-publications/" target="_top">Scientific publications</a></li> <li><a href="great-pacific-garbage-patch/" target="_top" class="internal-link">Great Pacific Garbage Patch</a></li> <li><a href="sources/" target="_top">Plastic Sources</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>About us</h6><ul><li><a href="careers/" target="_top" class="internal-link">Careers</a></li> <li><a href="about/" target="_top" class="internal-link">About</a></li> <li><a href="press/" target="_top" class="internal-link">Press</a></li> <li><a href="https://www.theoceancleanup.com/media-gallery/" target="_blank">Media gallery</a></li> <li><a href="partners/" target="_top" class="internal-link">Partners</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Help</h6><ul><li><a href="support/" target="_top" class="internal-link">Support</a></li> <li><a href="shop/" target="_top" class="internal-link">Shop</a></li> <li><a href="faq/" target="_top" class="internal-link">FAQ</a></li> <li><a href="contact/" target="_top" class="internal-link">Contact</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Legal</h6><ul><li><a href="privacy-and-cookie-notice/" target="_top" class="internal-link">Privacy &amp; cookie notice</a></li> <li><a href="support/donation-terms-and-conditions/" target="_top" class="internal-link">Donations terms &amp; conditions</a></li> <li><a href="disclaimer/" target="_top" class="internal-link">Disclaimer</a></li> <li><a href="foundation-details/" target="_top" class="internal-link">Foundation details</a></li> <li><a href="the-ocean-cleanup-north-pacific-foundation/" target="_top" class="internal-link">The Ocean Cleanup North Pacific Foundation</a></li></ul>
      </div>
    </div>
    <div class="footer-nav__copyright">&copy; 2018 The Ocean Cleanup. All rights reserved.
<br>This site is hosted by Greenhost.</div>
  </nav>
</footer>
<script>
	/**
	 * Prevent loading of iframes, lazyload them later
	 */
	var iframes = document.getElementsByTagName('iframe');
	for (var i = 0; i < iframes.length; i++) {
		var src = iframes[i].src;
		iframes[i].src = '';
		iframes[i].setAttribute('data-src', src);
	}
</script>

<script src="typo3temp/javascript_bd4d1f63e4.js?1481036357" type="text/javascript"></script>


</body>
</html>
