
<aside class="cookie-bar js-cookie-bar" data-enhancer="cookieBar" role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookie-bar-description" aria-hidden="true">
    <!--googleoff: all-->
    <p id="cookie-bar-description">This site makes use of third-party cookies for analytics. By continuing to use the site, you accept the use of cookies. <a href="https://www.theoceancleanup.com/privacy-and-cookie-notice/" target="_blank">Read more</a></p>
    <button class="button button--secondary button--small" data-handler="cookieBarAccept"  aria-label="Accept the use of cookies on this website">Accept</button>
    <!--googleon: all-->
</aside>
<!--TYPO3SEARCH_begin-->

<main class="wrapper">
  <header class="page-title">
    <div class="page-title__inner">
      <div class="page-title__content">
        <h1 class="block-title block-title--left">
          <div id="c197" class="csc-default">Support the cleanup</div>
        </h1>
        <div id="c198" class="csc-default"><p><font color="white">We are now looking to bridge the funding from System 001 to scale-up. With your help we can continue our research, improve our system and accelerate the largest cleanup in history.</p>
<p>If you are interested in funding your own cleanup system or making a large contribution, please contact us through <a href="mailto:funding@theoceancleanup.com">funding@theoceancleanup.com</a>.</p></font> </div>
      </div>
    </div>
  </header>
  <section class="donate-block">
    <div class="donate-block__inner">
      <div class="donate-block__content">
        <h2 class="block-title block-title--left">

        </h2>
        Donations can be made to 2 registered foundations. <strong>Euros</strong> can be donated to <strong>Stichting The Ocean Cleanup</strong> (an ANBI foundation registered in the Netherlands) and <strong>US dollars</strong> can be donated to <strong>The Ocean Cleanup North Pacific Foundation</strong> (a 501(c)(3) not-for-profit foundation registered in the USA).  Both foundations pursue the same goal.<br /><br />

Donations via credit cards, Paypal and other online methods can be made using the online donation form on the right to both foundations.  For donations via other methods such as checks or direct payments please see the FAQ below.<br /><br />

Please consider reading our <a href="support/donation-terms-and-conditions/" target="_blank"> Donation Terms &amp; Conditions</a> before making a donation.<br><br><div id="c200" class="csc-default"><h2>FAQ</h2> </div>
        <div id="c201" class="csc-default"> <dl class="faq-list faq-list--large" data-handler="faqList">
   <dt>
        <a class="js-faq-item first_tab" href="support/#">
            How do I pay by check?
            <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

        </a>
    </dt>
    <dd aria-hidden="true">If you prefer to pay by check in US dollars, please make payment out to our USA foundation, The Ocean Cleanup North Pacific Foundation and mail to: <br /><br />

The Ocean Cleanup North Pacific Foundation<br />
C/O First Republic Bank<br />
139 South El Camino Real<br />
Millbrae, CA 94030<br /><br />

If you would like a donation certificate for your check donation, please email <a href="mailto:certificates@theoceancleanup.org">certificates@theoceancleanup.org</a> with your name/business name, address, email address, donation date and donation amount in order to provide your donation certificate. <strong>(Donation certificates are only required for federal &amp; state taxes purposes for donations of USD 250 or higher)</strong></dd>

    <dt>
        <a class="js-faq-item second_tab" href="support/#">
            Can I make a donation in another currency?
            <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

        </a>
    </dt>
    <dd aria-hidden="true">We accept donations in Euro or US Dollar amounts, because we can receive these without paying conversion fees. The donations form on this page provides these currencies only and your payment will be converted automatically by the payment provider if your account has another currency. We will try to facilitate donations in other currencies in the future.</dd>
    <dt>
        <a class="js-faq-item third_tab" href="support/#">
            How do I change my recurring donation?
            <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

        </a>
    </dt>
    <dd aria-hidden="true">To alter the details of your recurring donation, please send us an email through our contact form on our contact page.</dd>

  <dt>
        <a class="js-faq-item fourth_tab" href="support/#">
            How do I transfer directly to your bank account or use wire transfer?
            <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

        </a>
    </dt>
    <dd aria-hidden="true">If you would like to donate in EUROS:<br /><br />

ACCOUNT DETAILS<br />
EURO IBAN: NL73 ABNA 0529 4518 24<br />
BIC: ABNANL2A<br />
Account name: Stichting The Ocean Cleanup<br />
Account holder address: Batavierenstraat 15, 4-7th floor, 3014 JH Rotterdam, The Netherlands<br /><br />

BANK DETAILS<br />
Bank Name: ABN AMRO Bank<br />
Bank Address: Gustav Mahlerlaan 10, 1028PP Amsterdam, The Netherlands<br /><br />

If you would like to donate in US DOLLARS:<br /><br />

BANK DETAILS<br />
Bank Name:     First Republic Bank<br />
Bank Address:  111 Pine Street, San Francisco, CA 94111<br /><br />

ABA / Routing #: 321 081 669<br /><br />

ACCOUNT DETAILS:<br />
Account Name: The Ocean Cleanup North Pacific Foundation<br />
Account #: 8000 6362 356<br />
Only in case you wire from outside the US please add the SWIFT address<br />
SWIFT address: FRBBUS6S<br /><br />

If you would like a donation certificate for your donation, please email <a href="mailto:certificates@theoceancleanup.org">certificates@theoceancleanup.org</a> with your name/business name, address, email address, donation date and donation amount in order to provide your donation certificate.
<strong>(Donation certificates are only required for US federal &amp; state tax purposes for donations of USD 250 or higher)</strong></dd>
    <dt>
<a class="js-faq-item fifth_tab" href="support/#">
            Can I donate with cryptocurrency?
            <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

        </a>
    </dt>
    <dd aria-hidden="true"><p>Yes, we can currently accept 3 types of cryptocurrencies</p>
<strong>Bitcoin:</strong> 3EeF3fEBdSers7xARZhuy6PC8FgVW7BaPE<br/><br/>
<strong>Bitcoin cash:</strong> 19xiXmMNNjWvntwTsdqoMVdbwvpfxQujQs<br/><br/><strong>Litecoin:</strong> Ldvb987AiADmMrGirfY1hoHdQPKQ3j9dsJ<br/></dd>
    <dt>
<a class="js-faq-item sixt_tab" href="support/#">
            Can I donate airmiles?
            <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

        </a>
    </dt>
    <dd aria-hidden="true">You can donate airmiles through Flying Blue, KLM’s and Air France’s frequent flyer program. Go to Flying Blue’s site, log in with your account and navigate to donating airmiles via the menu. You can find The Ocean Cleanup as part of a list of 14 non-profit organizations that Flying Blue has partnered with. Airmiles are highly appreciated and help to facilitate the success of the project by allowing our team to perform the necessary work we have across many borders.</dd>
<dt>

      <!--
        <a class="js-faq-item first_tab" href="support/#">
            Can I get proof of my donation for a tax deduction?
            <svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

        </a>
    </dt>
    <dd aria-hidden="true">Yes, we can send you a written acknowledgement which you can use to claim a tax deduction. Please inform us through our <a href="https://www.theoceancleanup.com/contact/"  target="_blank">contact form</a> when you have made a donation and provide us with your contact details and full postal address. This will enable us to verify your donation and draft an  e-certificate for you.</dd>-->
</div>
      </div>
      <div class="donate-block__form">
        <section class="donate-form" data-enhancer="donateForm">
          <div class="donate-form__inner">
            <div class="tx-webstocudonate-pi1">
		<div class="tx-webstocudonate-pi1">
		<!--https://www.theoceancleanup.com/support/thank-you/-->

			<form id="donateform" name="donateform" method="post" action="support/" enctype="application/x-www-form-urlencoded" data-step="1">

				<section class="donate-form__step js-form-step">
                                <h2>Support the cleanup</h2>

                                <div class="donate-form__message">
								 <p>Your donation will be made to <strong>Stichting The Ocean Cleanup</strong>, an ANBI foundation registered in the Netherlands. </p>
								 <p>If you would prefer to donate in USD, <strong><a href="https://www.theoceancleanup.com/support/us-donations/">please click here.</a></strong></p>
								</div>
								<fieldset class="donate-form__frequency">
                                    <label for="onetime">Frequency</label>
                                    <div class="styled-radio-buttons">
                                        <input id="onetime" type="radio" name="tx_webstocudonate_pi1[frequency]" value="one" required checked/>
                                        <label for="onetime">One time</label>
                                        <input id="monthly" type="radio" name="tx_webstocudonate_pi1[frequency]" value="month" required/>
                                        <label for="monthly">Monthly</label>
                                        <input id="quarterly" type="radio" name="tx_webstocudonate_pi1[frequency]" value="quarter" required/>
                                        <label for="quarterly">Quarterly</label>
                                        <input id="yearly" type="radio" name="tx_webstocudonate_pi1[frequency]" value="year" required/>
                                        <label for="yearly">Yearly</label>
                                    </div>
                                </fieldset>

					<!-- currency -->

					<fieldset class="donate-form__currency">
						<label for="currency_eur">Currency</label>
						<div class="styled-radio-buttons">
							<input id="currency_eur" type="radio" name="tx_webstocudonate_pi1[currency]" value="EUR" required checked/>
							<label for="currency_eur" aria-label="Euro">&euro;</label>

							<!--input id="currency_usd" type="radio" name="tx_webstocudonate_pi1[currency]" value="USD" required/>
							<label for="currency_usd" aria-label="US Dollar">&dollar;</label-->

							<!--a href="https://www.theoceancleanup.com/support/us-donations/"><button id="currency_usd2" name="tx_webstocudonate_pi1[currency]"/>&dollar;</button></a-->
							<a  href="https://www.theoceancleanup.com/support/us-donations/"><label style="margin-top:2px;" for="currency_usd2" aria-label="US Dollar">&dollar;</label></a>



						</div>
					</fieldset>


					<!-- amount -->
					<fieldset class="donate-form__amount">
						<label for="amount">Amount</label>
						<input id="amount" type="text" name="tx_webstocudonate_pi1[amount]" min="1" maxlength="15" size="20" placeholder="Enter amount" required data-parsley-type="digits"/>
					</fieldset>
			</section><!-- // step 1 -->
			<!-- step 2 -->
			<section class="donate-form__step js-form-step" aria-hidden="true">
                   <h2>Your details</h2>

					<!-- details -->
					<fieldset class="donate-form__details">
						<div class="donate-form__name">
							<label for="fname">First Name</label>
							<input id="fname" type="text" name="tx_webstocudonate_pi1[first_name]" maxlength="255" autocomplete="given-name" required/>
						</div>
						<div class="donate-form__name">
							<label for="lname">Last Name</label>
							<input id="lname" type="text" name="tx_webstocudonate_pi1[name]" maxlength="255" autocomplete="family-name" required/>
						</div>

						<label for="email">E-mail</label>
						<input id="email" type="email" name="tx_webstocudonate_pi1[email]" maxlength="80" autocomplete="email" required/>

						<!--input id="newsletter" type="checkbox" name="tx_webstocudonate_pi1[newsletter]" />
						<label for="newsletter">I would like to receive the newsletter</label-->

						<label for="country">Country</label>
						<select id="country"  name="tx_webstocudonate_pi1[country]">
							<!--
 fallback browser accept language:
-->
						<option value="AF" >Afghanistan</option>
						<option value="AL" >Albania</option>
						<option value="DZ" >Algeria</option>
						<option value="AS" >American Samoa</option>
						<option value="AD" >Andorra</option>
						<option value="AO" >Angola</option>
						<option value="AI" >Anguilla</option>
						<option value="AQ" >Antarctica</option>
						<option value="AG" >Antigua and Barbuda</option>
						<option value="AR" >Argentina</option>
						<option value="AM" >Armenia</option>
						<option value="AW" >Aruba</option>
						<option value="AU" >Australia</option>
						<option value="AT" >Austria</option>
						<option value="AZ" >Azerbaijan</option>
						<option value="BS" >Bahamas</option>
						<option value="BH" >Bahrain</option>
						<option value="BD" >Bangladesh</option>
						<option value="BB" >Barbados</option>
						<option value="BY" >Belarus</option>
						<option value="BE" >Belgium</option>
						<option value="BZ" >Belize</option>
						<option value="BJ" >Benin</option>
						<option value="BM" >Bermuda</option>
						<option value="BT" >Bhutan</option>
						<option value="BO" >Bolivia</option>
						<option value="BA" >Bosnia and Herzegovina</option>
						<option value="BW" >Botswana</option>
						<option value="BV" >Bouvet Island</option>
						<option value="BR" >Brazil</option>
						<option value="BQ" >British Antarctic Territory</option>
						<option value="IO" >British Indian Ocean Territory</option>
						<option value="VG" >British Virgin Islands</option>
						<option value="BN" >Brunei</option>
						<option value="BG" >Bulgaria</option>
						<option value="BF" >Burkina Faso</option>
						<option value="BI" >Burundi</option>
						<option value="KH" >Cambodia</option>
						<option value="CM" >Cameroon</option>
						<option value="CA" >Canada</option>
						<option value="CT" >Canton and Enderbury Islands</option>
						<option value="CV" >Cape Verde</option>
						<option value="KY" >Cayman Islands</option>
						<option value="CF" >Central African Republic</option>
						<option value="TD" >Chad</option>
						<option value="CL" >Chile</option>
						<option value="CN" >China</option>
						<option value="CX" >Christmas Island</option>
						<option value="CC" >Cocos [Keeling] Islands</option>
						<option value="CO" >Colombia</option>
						<option value="KM" >Comoros</option>
						<option value="CG" >Congo - Brazzaville</option>
						<option value="CD" >Congo - Kinshasa</option>
						<option value="CK" >Cook Islands</option>
						<option value="CR" >Costa Rica</option>
						<option value="HR" >Croatia</option>
						<option value="CU" >Cuba</option>
						<option value="CY" >Cyprus</option>
						<option value="CZ" >Czech Republic</option>
						<option value="CI" >C&ocirc;te d'Ivoire</option>
						<option value="DK" >Denmark</option>
						<option value="DJ" >Djibouti</option>
						<option value="DM" >Dominica</option>
						<option value="DO" >Dominican Republic</option>
						<option value="NQ" >Dronning Maud Land</option>
						<option value="DD" >East Germany</option>
						<option value="EC" >Ecuador</option>
						<option value="EG" >Egypt</option>
						<option value="SV" >El Salvador</option>
						<option value="GQ" >Equatorial Guinea</option>
						<option value="ER" >Eritrea</option>
						<option value="EE" >Estonia</option>
						<option value="ET" >Ethiopia</option>
						<option value="FK" >Falkland Islands</option>
						<option value="FO" >Faroe Islands</option>
						<option value="FJ" >Fiji</option>
						<option value="FI" >Finland</option>
						<option value="FR" >France</option>
						<option value="GF" >French Guiana</option>
						<option value="PF" >French Polynesia</option>
						<option value="TF" >French Southern Territories</option>
						<option value="FQ" >French Southern and Antarctic Territories</option>
						<option value="GA" >Gabon</option>
						<option value="GM" >Gambia</option>
						<option value="GE" >Georgia</option>
						<option value="DE" >Germany</option>
						<option value="GH" >Ghana</option>
						<option value="GI" >Gibraltar</option>
						<option value="GR" >Greece</option>
						<option value="GL" >Greenland</option>
						<option value="GD" >Grenada</option>
						<option value="GP" >Guadeloupe</option>
						<option value="GU" >Guam</option>
						<option value="GT" >Guatemala</option>
						<option value="GG" >Guernsey</option>
						<option value="GN" >Guinea</option>
						<option value="GW" >Guinea-Bissau</option>
						<option value="GY" >Guyana</option>
						<option value="HT" >Haiti</option>
						<option value="HM" >Heard Island and McDonald Islands</option>
						<option value="HN" >Honduras</option>
						<option value="HK" >Hong Kong SAR China</option>
						<option value="HU" >Hungary</option>
						<option value="IS" >Iceland</option>
						<option value="IN" >India</option>
						<option value="ID" >Indonesia</option>
						<option value="IR" >Iran</option>
						<option value="IQ" >Iraq</option>
						<option value="IE" >Ireland</option>
						<option value="IM" >Isle of Man</option>
						<option value="IL" >Israel</option>
						<option value="IT" >Italy</option>
						<option value="JM" >Jamaica</option>
						<option value="JP" >Japan</option>
						<option value="JE" >Jersey</option>
						<option value="JT" >Johnston Island</option>
						<option value="JO" >Jordan</option>
						<option value="KZ" >Kazakhstan</option>
						<option value="KE" >Kenya</option>
						<option value="KI" >Kiribati</option>
						<option value="KW" >Kuwait</option>
						<option value="KG" >Kyrgyzstan</option>
						<option value="LA" >Laos</option>
						<option value="LV" >Latvia</option>
						<option value="LB" >Lebanon</option>
						<option value="LS" >Lesotho</option>
						<option value="LR" >Liberia</option>
						<option value="LY" >Libya</option>
						<option value="LI" >Liechtenstein</option>
						<option value="LT" >Lithuania</option>
						<option value="LU" >Luxembourg</option>
						<option value="MO" >Macau SAR China</option>
						<option value="MK" >Macedonia</option>
						<option value="MG" >Madagascar</option>
						<option value="MW" >Malawi</option>
						<option value="MY" >Malaysia</option>
						<option value="MV" >Maldives</option>
						<option value="ML" >Mali</option>
						<option value="MT" >Malta</option>
						<option value="MH" >Marshall Islands</option>
						<option value="MQ" >Martinique</option>
						<option value="MR" >Mauritania</option>
						<option value="MU" >Mauritius</option>
						<option value="YT" >Mayotte</option>
						<option value="FX" >Metropolitan France</option>
						<option value="MX" >Mexico</option>
						<option value="FM" >Micronesia</option>
						<option value="MI" >Midway Islands</option>
						<option value="MD" >Moldova</option>
						<option value="MC" >Monaco</option>
						<option value="MN" >Mongolia</option>
						<option value="ME" >Montenegro</option>
						<option value="MS" >Montserrat</option>
						<option value="MA" >Morocco</option>
						<option value="MZ" >Mozambique</option>
						<option value="MM" >Myanmar [Burma]</option>
						<option value="NA" >Namibia</option>
						<option value="NR" >Nauru</option>
						<option value="NP" >Nepal</option>
						<option value="NL" >Netherlands</option>
						<option value="AN" >Netherlands Antilles</option>
						<option value="NT" >Neutral Zone</option>
						<option value="NC" >New Caledonia</option>
						<option value="NZ" >New Zealand</option>
						<option value="NI" >Nicaragua</option>
						<option value="NE" >Niger</option>
						<option value="NG" >Nigeria</option>
						<option value="NU" >Niue</option>
						<option value="NF" >Norfolk Island</option>
						<option value="KP" >North Korea</option>
						<option value="VD" >North Vietnam</option>
						<option value="MP" >Northern Mariana Islands</option>
						<option value="NO" >Norway</option>
						<option value="OM" >Oman</option>
						<option value="PC" >Pacific Islands Trust Territory</option>
						<option value="PK" >Pakistan</option>
						<option value="PW" >Palau</option>
						<option value="PS" >Palestinian Territories</option>
						<option value="PA" >Panama</option>
						<option value="PZ" >Panama Canal Zone</option>
						<option value="PG" >Papua New Guinea</option>
						<option value="PY" >Paraguay</option>
						<option value="YD" >People's Democratic Republic of Yemen</option>
						<option value="PE" >Peru</option>
						<option value="PH" >Philippines</option>
						<option value="PN" >Pitcairn Islands</option>
						<option value="PL" >Poland</option>
						<option value="PT" >Portugal</option>
						<option value="PR" >Puerto Rico</option>
						<option value="QA" >Qatar</option>
						<option value="RO" >Romania</option>
						<option value="RU" >Russia</option>
						<option value="RW" >Rwanda</option>
						<option value="RE" >R&eacute;union</option>
						<option value="BL" >Saint Barth&eacute;lemy</option>
						<option value="SH" >Saint Helena</option>
						<option value="KN" >Saint Kitts and Nevis</option>
						<option value="LC" >Saint Lucia</option>
						<option value="MF" >Saint Martin</option>
						<option value="PM" >Saint Pierre and Miquelon</option>
						<option value="VC" >Saint Vincent and the Grenadines</option>
						<option value="WS" >Samoa</option>
						<option value="SM" >San Marino</option>
						<option value="SA" >Saudi Arabia</option>
						<option value="SN" >Senegal</option>
						<option value="RS" >Serbia</option>
						<option value="CS" >Serbia and Montenegro</option>
						<option value="SC" >Seychelles</option>
						<option value="SL" >Sierra Leone</option>
						<option value="SG" >Singapore</option>
						<option value="SK" >Slovakia</option>
						<option value="SI" >Slovenia</option>
						<option value="SB" >Solomon Islands</option>
						<option value="SO" >Somalia</option>
						<option value="ZA" >South Africa</option>
						<option value="GS" >South Georgia and the South Sandwich Islands</option>
						<option value="KR" >South Korea</option>
						<option value="ES" >Spain</option>
						<option value="LK" >Sri Lanka</option>
						<option value="SD" >Sudan</option>
						<option value="SR" >Suriname</option>
						<option value="SJ" >Svalbard and Jan Mayen</option>
						<option value="SZ" >Swaziland</option>
						<option value="SE" >Sweden</option>
						<option value="CH" >Switzerland</option>
						<option value="SY" >Syria</option>
						<option value="ST" >S&atilde;o Tom&eacute; and Pr&iacute;ncipe</option>
						<option value="TW" >Taiwan</option>
						<option value="TJ" >Tajikistan</option>
						<option value="TZ" >Tanzania</option>
						<option value="TH" >Thailand</option>
						<option value="TL" >Timor-Leste</option>
						<option value="TG" >Togo</option>
						<option value="TK" >Tokelau</option>
						<option value="TO" >Tonga</option>
						<option value="TT" >Trinidad and Tobago</option>
						<option value="TN" >Tunisia</option>
						<option value="TR" >Turkey</option>
						<option value="TM" >Turkmenistan</option>
						<option value="TC" >Turks and Caicos Islands</option>
						<option value="TV" >Tuvalu</option>
						<option value="UM" >U.S. Minor Outlying Islands</option>
						<option value="PU" >U.S. Miscellaneous Pacific Islands</option>
						<option value="VI" >U.S. Virgin Islands</option>
						<option value="UG" >Uganda</option>
						<option value="UA" >Ukraine</option>
						<option value="SU" >Union of Soviet Socialist Republics</option>
						<option value="AE" >United Arab Emirates</option>
						<option value="GB" >United Kingdom</option>
						<option value="US" >United States</option>
						<option value="ZZ" >Unknown or Invalid Region</option>
						<option value="UY" >Uruguay</option>
						<option value="UZ" >Uzbekistan</option>
						<option value="VU" >Vanuatu</option>
						<option value="VA" >Vatican City</option>
						<option value="VE" >Venezuela</option>
						<option value="VN" >Vietnam</option>
						<option value="WK" >Wake Island</option>
						<option value="WF" >Wallis and Futuna</option>
						<option value="EH" >Western Sahara</option>
						<option value="YE" >Yemen</option>
						<option value="ZM" >Zambia</option>
						<option value="ZW" >Zimbabwe</option>
						<option value="AX" >&Aring;land Islands</option>
						</select>
					</fieldset>

					<!-- payment method -->
					<fieldset class="donate-form__payment">
						<label for="paypal">Payment method</label>
						<div class="styled-radio-buttons">
							<input id="paypal" type="radio" value="paypal" name="tx_webstocudonate_pi1[paymentmethod]" required checked/>
							<label for="paypal" aria-label="PayPal">
								<img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/donate-form/paypal.png" width="64" height="64" alt="PayPal"/>
							</label>
							<input id="visa" type="radio" value="visa" name="tx_webstocudonate_pi1[paymentmethod]" required/>
							<label for="visa" aria-label="CreditCard: VISA">
								<img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/donate-form/visa.png" width="64" height="64" alt="CreditCard: VISA"/>
							</label>
							<input id="mastercard" type="radio" value="mastercard" name="tx_webstocudonate_pi1[paymentmethod]" required/>
							<label for="mastercard" aria-label="CreditCard: Mastercard">
								<img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/donate-form/mastercard.png" width="64" height="64" alt="CreditCard: Mastercard"/>
							</label>
							<input id="amex" type="radio" value="amex" name="tx_webstocudonate_pi1[paymentmethod]" required/>
							<label for="amex" aria-label="CreditCard: AMEX">
								<img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/donate-form/amex.png" width="64" height="64" alt="CreditCard: AMEX"/>
							</label>
							<input id="maestro" type="radio" value="maestro" name="tx_webstocudonate_pi1[paymentmethod]" required/>
							<label for="maestro" aria-label="CreditCard: Maestro">
								<img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/donate-form/maestro.png" width="64" height="64" alt="CreditCard: Maestro"/>
							</label>
							<input id="eps" type="radio" value="eps" name="tx_webstocudonate_pi1[paymentmethod]" required/>
							<label for="eps" aria-label="Austrian EPS E-Payment Standard">
								<img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/donate-form/eps.png" width="64" height="64" alt="Austrian EPS E-Payment Standard"/>
							</label>
							<input id="ideal" type="radio" value="ideal" name="tx_webstocudonate_pi1[paymentmethod]" required/>
							<label for="ideal" aria-label="iDeal">
								<img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/donate-form/ideal.png" width="64" height="64" alt="iDeal"/>
							</label>
							<input id="sofortueberweisung" type="radio" value="sofortueberweisung" name="tx_webstocudonate_pi1[paymentmethod]" required/>
							<label for="sofortueberweisung" aria-label="Sofortbanking">
								<img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/donate-form/sofort.png" width="64" height="64" alt="Sofortbanking"/>
							</label>
							<input id="sepadirectdebit" type="radio" value="sepadirectdebit" name="tx_webstocudonate_pi1[paymentmethod]" required/>
							<label for="sepadirectdebit" aria-label="SEPA Direct Debit">
								<img src="https://www.theoceancleanup.com/fileadmin/media-archive/img/donate-form/sepadirectdebit.png" width="64" height="64" alt="SEPA Direct Debit"/>
							</label>
						</div>
					</fieldset>

					<!-- ideal -->
					<fieldset class="donate-form__bank" data-payment-method="ideal" aria-hidden="true">
						<label for="paymentmethodadditional_bank">Choose your bank</label>
						<small>In the next step of the payment process you will be sent directly to the website of this bank. Keep your login data at hand.</small>

						<div class="custom-select" tabindex="-1">
							<select id="paymentmethodadditional_bank" name="tx_webstocudonate_pi1[paymentmethodadditional_bank]">
								<option value="" selected disabled>Select your bank</option>
								<option value="ABNANL2A">ABN AMRO</option>
								<option value="ASNBNL21">ASN Bank</option>
								<option value="INGBNL2A">ING Bank</option>
								<option value="KNABNL2H">Knab</option>
								<option value="RABONL2U">Rabobank</option>
								<option value="RBRBNL21">RegioBank</option>
								<option value="SNSBNL2A">SNS Bank</option>
								<option value="TRIONL2U">Triodos Bank</option>
								<option value="FVLBNL22">Van Lanschot</option>
								<option value="BUNQNL2A">Bunq</option>
							</select>
							<svg role="img" data-icon="arrow-down"><use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#arrow-down"></use></svg>

						</div>
					</fieldset>

					<!-- sepa / direct debit -->
					<fieldset class="donate-form__bank" data-payment-method="sepadirectdebit" aria-hidden="true">
						<p><strong>Bank account details</strong></p>

						<label for="iban">IBAN account number</label>
						<input id="iban" type="text" maxlength="35" name="tx_webstocudonate_pi1[iban]" size="20" autocomplete="iban" data-parsley-iban/>

						<label for="bic">BIC</label>
						<input id="bic" type="text" maxlength="35" name="tx_webstocudonate_pi1[bic]" size="20" autocomplete="bic" data-parsley-bic>

						<label for="iban_holder">Holder Name</label>
						<input id="iban_holder" type="text" maxlength="255" name="tx_webstocudonate_pi1[iban_holder]" size="20" autocomplete="name" >
					</fieldset>

					<!-- newsletter -->
					<fieldset class="donate-form__newsletter">
						<input id="newsletter" type="checkbox" name="tx_webstocudonate_pi1[newsletter]" >
						<label for="newsletter">Subscribe to our newsletter</label>
					</fieldset>

				</section><!-- // step 2 -->
				<div class="donate-form__controls">
					<ul class="form-steps js-form-steps">
						<li>Amount</li>
						<li>Details</li>
					</ul>

					<div class="button-set">
						<button type="button" data-action="previous">Previous</button>
						<button type="button" data-action="next">Next</button>
						<button type="submit">Submit</button>
						<input type="hidden" name="tx_webstocudonate_pi1[submit_button]" value="Donate" />
					</div>
				</div>
			</form>
			<!-- form validation scripts -->
			<script src="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/js/form-validation.js"></script>
	</div>

	</div>

          </div>
        </section>
      </div>
    </div>
  </section>
</main>
<!-- .wrapper -->
<!--TYPO3SEARCH_end-->
<!-- partials/footer: -->

<footer role="contentinfo">
  <aside class="follow-bar">
    <div class="follow-bar__inner">
      <div class="follow-bar__social">
        <div id="c65" class="csc-default"><h3>Follow us</h3>
        <ul>
          <li><a class="instagram_follow_link" href="https://www.instagram.com/theoceancleanup/" target="_blank">
            <svg role="img" data-icon="instagram">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#instagram"></use>
            </svg>
            <span>Follow us on Instagram</span> </a></li>
          <li><a class="facebook_follow_link" href="https://www.facebook.com/TheOceanCleanup/" target="_blank">
            <svg role="img" data-icon="facebook">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#facebook"></use>
            </svg>
            <span>Follow us on Facebook</span> </a></li>
          <li><a class="twitter_follow_link" href="https://twitter.com/theoceancleanup" target="_blank">
            <svg role="img" data-icon="twitter">
              <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#twitter"></use>
            </svg>
            <span>Follow us on Twitter</span> </a></li>
          <li><a class="youtube_follow_link" href="https://www.youtube.com/TheOceanCleanup " target="_blank">
          <svg role="img" data-icon="youtube">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#youtube"></use></svg>

          <span>Follow us on YouTube</span>
        </a></li>
        <li><a class="linked_follow_link" href="https://www.linkedin.com/company/the-ocean-cleanup" target="_blank">
          <svg role="img" data-icon="linkedin">
            <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#linkedin"></use></svg>

          <span>Connect with us on LinkedIn</span>
        </a></li>
        </ul></div>
      </div>
      <div class="follow-bar__newsletter">
        <h6>Newsletter</h6>
<form data-enhancer="newsletterForm" action="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/t3ext/mailchimp_process.php" method="post" validate>
  <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required aria-label="Your e-mail address"/>
  <button type="submit" aria-label="Subscribe to our newsletter">
    <svg role="img" data-icon="mail" title="Subscribe">
      <use xlink:href="https://www.theoceancleanup.com/fileadmin/themes/oceancleanup_2016/css/img/icons.svg#mail"></use>
    </svg>
    <span>Subscribe</span> </button>
  <div class="follow-bar__newsletter-status js-newsletter-status" aria-hidden="true"></div>
</form>


      </div>
    </div>
  </aside>
  <nav class="footer-nav" role="navigation">
    <div class="footer-nav__inner">
      <div class="footer-nav__part">
        <h6>The Ocean Cleanup</h6><ul><li><a href="technology/" target="_top" class="internal-link">Technology</a></li> <li><a href="system001/" target="_top" class="internal-link">System 001</a></li> <li><a href="milestones/" target="_top">Milestones</a></li> <li><a href="updates/" target="_top" class="internal-link">Updates</a></li> <li><a href="scientific-publications/" target="_top">Scientific publications</a></li> <li><a href="great-pacific-garbage-patch/" target="_top" class="internal-link">Great Pacific Garbage Patch</a></li> <li><a href="sources/" target="_top">Plastic Sources</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>About us</h6><ul><li><a href="careers/" target="_top" class="internal-link">Careers</a></li> <li><a href="about/" target="_top" class="internal-link">About</a></li> <li><a href="press/" target="_top" class="internal-link">Press</a></li> <li><a href="https://www.theoceancleanup.com/media-gallery/" target="_blank">Media gallery</a></li> <li><a href="partners/" target="_top" class="internal-link">Partners</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Help</h6><ul><li><a href="support/" target="_top" class="internal-link">Support</a></li> <li><a href="shop/" target="_top" class="internal-link">Shop</a></li> <li><a href="faq/" target="_top" class="internal-link">FAQ</a></li> <li><a href="contact/" target="_top" class="internal-link">Contact</a></li></ul>
      </div>
      <div class="footer-nav__part">
        <h6>Legal</h6><ul><li><a href="privacy-and-cookie-notice/" target="_top" class="internal-link">Privacy &amp; cookie notice</a></li> <li><a href="support/donation-terms-and-conditions/" target="_top" class="internal-link">Donations terms &amp; conditions</a></li> <li><a href="disclaimer/" target="_top" class="internal-link">Disclaimer</a></li> <li><a href="foundation-details/" target="_top" class="internal-link">Foundation details</a></li> <li><a href="the-ocean-cleanup-north-pacific-foundation/" target="_top" class="internal-link">The Ocean Cleanup North Pacific Foundation</a></li></ul>
      </div>
    </div>
    <div class="footer-nav__copyright">&copy; 2018 The Ocean Cleanup. All rights reserved.
<br>This site is hosted by Greenhost.</div>
  </nav>
</footer>
<script>
	/**
	 * Prevent loading of iframes, lazyload them later
	 */
	var iframes = document.getElementsByTagName('iframe');
	for (var i = 0; i < iframes.length; i++) {
		var src = iframes[i].src;
		iframes[i].src = '';
		iframes[i].setAttribute('data-src', src);
	}
</script>




<script src="typo3temp/javascript_bd4d1f63e4.js?1481036357" type="text/javascript"></script>




</body>
</html
