<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="cleartype" content="on">

<meta charset="utf-8">
<!--
	Design and templates by GRRR, http://www.grrr.nl
	TYPO3 integration by Websols, http://www.websols.nl
	________________________________________________

	This website is powered by TYPO3 - inspiring people to share!
	TYPO3 is a free open source Content Management Framework initially created by Kasper Skaarhoj and licensed under GNU/GPL.
	TYPO3 is copyright 1998-2017 of Kasper Skaarhoj. Extensions are copyright of their respective owners.
	Information and contribution at http://typo3.org/
-->

<title>About | The Ocean Cleanup</title>
<meta name="generator" content="TYPO3 CMS">
 <!-- A changer -->
<meta name="keywords" content="extract, prevent, intercept, plastic pollution, oceans">
<!-- A changer -->
<meta name="description" content="The Ocean Cleanup's mission is to develop advanced technologies to rid the world's oceans of plastic. Find out more about why and who we are here.">
<!-- A changer -->
<meta name="author" content="The Ocean Cleanup, www.theoceancleanup.com">
<meta name="distribution" content="Global">
<meta name="revisit" content="7">
<meta name="rating" content="general">
<meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- A changer -->
 <meta property="fb:pages" content="478022368897483" />
<link rel="preload" href="/assets/index.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/index2.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/index3.woff2" as="font" type="font/woff2" crossorigin>
<link rel="shortcut icon" type="image/x-icon" href="https://www.theoceancleanup.com/favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="https://www.theoceancleanup.com//favicon.png" />
<link rel="icon" type="image/png" href="https://www.theoceancleanup.com//favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://www.theoceancleanup.com//favicon-16x16.png" sizes="16x16">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.theoceancleanup.com//apple-touch-icon.png">
<link rel="manifest" href="https://www.theoceancleanup.com//manifest.json">
<link rel="mask-icon" href="https://www.theoceancleanup.com//safari-pinned-tab.svg" color="#ffffff">
<link rel="prev" href="https://www.theoceancleanup.com/job-details/" />
<link rel="next" href="https://www.theoceancleanup.com/press/" />
<script>
   /*! modernizr 3.6.0 (Custom Build) | MIT *
 * https://modernizr.com/download/?-csscalc-cssfilters-cssgrid_cssgridlegacy-csspointerevents-csstransforms3d-cssvhunit-cssvwunit-flexbox-objectfit-touchevents-setclasses !*/
!function(e,t,n){function r(e,t){return typeof e===t}function s(){var e,t,n,s,o,i,a;for(var l in S)if(S.hasOwnProperty(l)){if(e=[],t=S[l],t.name&&(e.push(t.name.toLowerCase()),t.options&&t.options.aliases&&t.options.aliases.length))for(n=0;n<t.options.aliases.length;n++)e.push(t.options.aliases[n].toLowerCase());for(s=r(t.fn,"function")?t.fn():t.fn,o=0;o<e.length;o++)i=e[o],a=i.split("."),1===a.length?Modernizr[a[0]]=s:(!Modernizr[a[0]]||Modernizr[a[0]]instanceof Boolean||(Modernizr[a[0]]=new Boolean(Modernizr[a[0]])),Modernizr[a[0]][a[1]]=s),C.push((s?"":"no-")+a.join("-"))}}function o(e){var t=T.className,n=Modernizr._config.classPrefix||"";if(_&&(t=t.baseVal),Modernizr._config.enableJSClass){var r=new RegExp("(^|\\s)"+n+"no-js(\\s|$)");t=t.replace(r,"$1"+n+"js$2")}Modernizr._config.enableClasses&&(t+=" "+n+e.join(" "+n),_?T.className.baseVal=t:T.className=t)}function i(){return"function"!=typeof t.createElement?t.createElement(arguments[0]):_?t.createElementNS.call(t,"http://www.w3.org/2000/svg",arguments[0]):t.createElement.apply(t,arguments)}function a(t,n,r){var s;if("getComputedStyle"in e){s=getComputedStyle.call(e,t,n);var o=e.console;if(null!==s)r&&(s=s.getPropertyValue(r));else if(o){var i=o.error?"error":"log";o[i].call(o,"getComputedStyle returning null, its possible modernizr test results are inaccurate")}}else s=!n&&t.currentStyle&&t.currentStyle[r];return s}function l(e,t){return e-1===t||e===t||e+1===t}function u(e){return e.replace(/([a-z])-([a-z])/g,function(e,t,n){return t+n.toUpperCase()}).replace(/^-/,"")}function f(){var e=t.body;return e||(e=i(_?"svg":"body"),e.fake=!0),e}function c(e,n,r,s){var o,a,l,u,c="modernizr",d=i("div"),p=f();if(parseInt(r,10))for(;r--;)l=i("div"),l.id=s?s[r]:c+(r+1),d.appendChild(l);return o=i("style"),o.type="text/css",o.id="s"+c,(p.fake?p:d).appendChild(o),p.appendChild(d),o.styleSheet?o.styleSheet.cssText=e:o.appendChild(t.createTextNode(e)),d.id=c,p.fake&&(p.style.background="",p.style.overflow="hidden",u=T.style.overflow,T.style.overflow="hidden",T.appendChild(p)),a=n(d,e),p.fake?(p.parentNode.removeChild(p),T.style.overflow=u,T.offsetHeight):d.parentNode.removeChild(d),!!a}function d(e,t){return!!~(""+e).indexOf(t)}function p(e,t){return function(){return e.apply(t,arguments)}}function m(e,t,n){var s;for(var o in e)if(e[o]in t)return n===!1?e[o]:(s=t[e[o]],r(s,"function")?p(s,n||t):s);return!1}function v(e){return e.replace(/([A-Z])/g,function(e,t){return"-"+t.toLowerCase()}).replace(/^ms-/,"-ms-")}function h(t,r){var s=t.length;if("CSS"in e&&"supports"in e.CSS){for(;s--;)if(e.CSS.supports(v(t[s]),r))return!0;return!1}if("CSSSupportsRule"in e){for(var o=[];s--;)o.push("("+v(t[s])+":"+r+")");return o=o.join(" or "),c("@supports ("+o+") { #modernizr { position: absolute; } }",function(e){return"absolute"==a(e,null,"position")})}return n}function g(e,t,s,o){function a(){f&&(delete I.style,delete I.modElem)}if(o=r(o,"undefined")?!1:o,!r(s,"undefined")){var l=h(e,s);if(!r(l,"undefined"))return l}for(var f,c,p,m,v,g=["modernizr","tspan","samp"];!I.style&&g.length;)f=!0,I.modElem=i(g.shift()),I.style=I.modElem.style;for(p=e.length,c=0;p>c;c++)if(m=e[c],v=I.style[m],d(m,"-")&&(m=u(m)),I.style[m]!==n){if(o||r(s,"undefined"))return a(),"pfx"==t?m:!0;try{I.style[m]=s}catch(y){}if(I.style[m]!=v)return a(),"pfx"==t?m:!0}return a(),!1}function y(e,t,n,s,o){var i=e.charAt(0).toUpperCase()+e.slice(1),a=(e+" "+N.join(i+" ")+i).split(" ");return r(t,"string")||r(t,"undefined")?g(a,t,s,o):(a=(e+" "+L.join(i+" ")+i).split(" "),m(a,t,n))}function x(e,t,r){return y(e,n,n,t,r)}var C=[],S=[],w={_version:"3.6.0",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,t){var n=this;setTimeout(function(){t(n[e])},0)},addTest:function(e,t,n){S.push({name:e,fn:t,options:n})},addAsyncTest:function(e){S.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=w,Modernizr=new Modernizr;var T=t.documentElement,_="svg"===T.nodeName.toLowerCase(),b=w._config.usePrefixes?" -webkit- -moz- -o- -ms- ".split(" "):["",""];w._prefixes=b,Modernizr.addTest("csscalc",function(){var e="width:",t="calc(10px);",n=i("a");return n.style.cssText=e+b.join(t+e),!!n.style.length}),Modernizr.addTest("csspointerevents",function(){var e=i("a").style;return e.cssText="pointer-events:auto","auto"===e.pointerEvents});var z="CSS"in e&&"supports"in e.CSS,j="supportsCSS"in e;Modernizr.addTest("supports",z||j);var E=w.testStyles=c;Modernizr.addTest("touchevents",function(){var n;if("ontouchstart"in e||e.DocumentTouch&&t instanceof DocumentTouch)n=!0;else{var r=["@media (",b.join("touch-enabled),("),"heartz",")","{#modernizr{top:9px;position:absolute}}"].join("");E(r,function(e){n=9===e.offsetTop})}return n}),E("#modernizr { height: 50vh; }",function(t){var n=parseInt(e.innerHeight/2,10),r=parseInt(a(t,null,"height"),10);Modernizr.addTest("cssvhunit",l(r,n))}),E("#modernizr { width: 50vw; }",function(t){var n=parseInt(e.innerWidth/2,10),r=parseInt(a(t,null,"width"),10);Modernizr.addTest("cssvwunit",l(r,n))});var P="Moz O ms Webkit",N=w._config.usePrefixes?P.split(" "):[];w._cssomPrefixes=N;var k=function(t){var r,s=b.length,o=e.CSSRule;if("undefined"==typeof o)return n;if(!t)return!1;if(t=t.replace(/^@/,""),r=t.replace(/-/g,"_").toUpperCase()+"_RULE",r in o)return"@"+t;for(var i=0;s>i;i++){var a=b[i],l=a.toUpperCase()+"_"+r;if(l in o)return"@-"+a.toLowerCase()+"-"+t}return!1};w.atRule=k;var L=w._config.usePrefixes?P.toLowerCase().split(" "):[];w._domPrefixes=L;var A={elem:i("modernizr")};Modernizr._q.push(function(){delete A.elem});var I={style:A.elem.style};Modernizr._q.unshift(function(){delete I.style}),w.testAllProps=y,w.testAllProps=x,Modernizr.addTest("cssfilters",function(){if(Modernizr.supports)return x("filter","blur(2px)");var e=i("a");return e.style.cssText=b.join("filter:blur(2px); "),!!e.style.length&&(t.documentMode===n||t.documentMode>9)}),Modernizr.addTest("flexbox",x("flexBasis","1px",!0)),Modernizr.addTest("csstransforms3d",function(){return!!x("perspective","1px",!0)}),Modernizr.addTest("cssgridlegacy",x("grid-columns","10px",!0)),Modernizr.addTest("cssgrid",x("grid-template-rows","none",!0));var O=w.prefixed=function(e,t,n){return 0===e.indexOf("@")?k(e):(-1!=e.indexOf("-")&&(e=u(e)),t?y(e,t,n):y(e,"pfx"))};Modernizr.addTest("objectfit",!!O("objectFit"),{aliases:["object-fit"]}),s(),o(C),delete w.addTest,delete w.addAsyncTest;for(var R=0;R<Modernizr._q.length;R++)Modernizr._q[R]();e.Modernizr=Modernizr}(window,document);
  /**
   * loadJS: load a JS file asynchronously.
   * [c]2014 @scottjehl, Filament Group, Inc. (Based on http://goo.gl/REQGQ by Paul Irish).
   * Licensed MIT
   */
  function loadJS(e,t){
    "use strict";
    var n=window.document.getElementsByTagName("script")[0],o=window.document.createElement("script");
    return o.src=e,o.async=!0,n.parentNode.insertBefore(o,n),t&&"function"==typeof t&&(o.onload=t),o
  }
  var cutsMustard = 'querySelector' in document && 'addEventListener' in window;
  if (cutsMustard) {
 loadJS('main.js');
window.setTimeout(function() { document.documentElement.classList.add('page-is-loaded'); }, 0);
} else {
   var doc = document.documentElement;
   doc.className = doc.className.replace(/ *\bjs\b/g, 'no-js');
}
</script>
<meta property="og:type" content="website" />
<!-- A changer-->
<meta property="og:description" content="The Ocean Cleanup's mission is to develop advanced technologies to rid the world's oceans of plastic. Find out more about why and who we are here. " />
<!-- A changer-->
<meta property="og:image" content="https://www.theoceancleanup.com/fileadmin/_processed_/csm_opengraph-toc_00d7610508.jpg" />
<meta property="og:url" content="https://www.theoceancleanup.com/about/" />
<!-- A changer-->
<meta property="og:site_name" content="The Ocean Cleanup" />
<!-- A changer-->
<meta name="twitter:card" content="summary_large_image" />
<!-- A changer-->
<meta name="twitter:site" content="@TheOceanCleanup" />
<!-- A changer-->
<meta property="twitter:image" content="https://www.theoceancleanup.com/fileadmin/_processed_/csm_opengraph-toc_55b96ee125.jpg" />
</head>
<body id="page-170">
<!-- Google Tag Manager (noscript) -->
<!-- A changer-->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5T9XZFC" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- partials/header: -->
<nav class="nav" data-enhancer="headroom" role="navigation">
  <a class="nav__logo" href="/" aria-label="Homepage"><span>UMA</span></a>
  <ul class="nav__secondary"><li class="first withsub"><a href="/equipe" title="To succeed in our mission, we need to complete one of the most ambitious engineering projects on the face of the planet. Designing mega-structures capable of lasting in the harshest of environments is not easy. If you are a master problem solver and are willing to do whatever it takes to build a clean future, we want you at The Ocean Cleanup." id="p171"><span>Careers</span></a></li><li class="is-current"><a href="/a-propos" title="The Ocean Cleanup's mission is to develop advanced technologies to rid the world's oceans of plastic. Find out more about why and who we are here. " id="p170"><span>About</span></a></li><li><a href="/press" title="The Ocean Cleanup a non-profit organization, developing the first feasible method to clean up plastic in the oceans. Find our latest press releases here. " id="p30"><span>Press</span></a></li><li class="withsub "><a href="support/" title="The Ocean Cleanup is a non-profit organization, fully reliant on corporate and private support. Help us clean the world's oceans by donating here." id="p28"><span>Support</span></a></li><li class="last"><a href="shop/" title="Our merchandise collection was created for one reason: to continue to build our movement against ocean plastic pollution. When you purchase an item from any of our partners below, a donation will be made in support of The Ocean Cleanup." id="p146"><span>Shop</span></a></li></ul>
  <ul class="nav__primary">
    <li class="first">
      <a href="/" title="Home" id="p140"><span>Home</span></a>
    </li>
    <li>
      <a href="technologie" title="" id="p79"><span>technologie</span></a>
    </li>
    <li>
      <a href="#" title="" id="p79"><span>Milestones</span></a>
    </li>
     <li class="last withsub"><a href="updates/" title="The Ocean Cleanup is a non-profit organization, developing the first feasible method to rid the world's ocean of plastic. Read our recent updates here. " id="p13"><span>Updates</span></a></li>
     <li class="last withsub"><a href="/users/sign_in/" title=" " id="p13"><span>Se connecter / S'inscrire</span></a></li></ul>
</nav>
